@keyframes spin {to {rotate: 360deg}}

body {
	display: flex;
	background-color: var(--white);
	min-height: 100vh;
	image-rendering: auto;
}



/* header */

header {
	background-image: linear-gradient(to right, var(--blue), var(--yellow), var(--red));
	outline: 1em solid var(--white);
	outline-offset: calc(-1em - 1px);
	margin: 4em;
	margin-right: 3em;
	align-self: start;
	position: relative;

	&::after {
		content: "";
		display: block;
		background: url(_asset/cd.png) center / 100%;
		width: 20em;
		height: 20em;
		position: absolute;
		right: -13em;
		top: 7.5em;
		z-index: 1;
		pointer-events: none;
		animation: 30s spin linear infinite;
	}
}

h1 {
	display: flex;
	align-items: center;
	font-size: 5em;
	background: url(_asset/case.png) no-repeat center / 100%;
	width: max-content;
	aspect-ratio: 579/511;
	margin-top: 0;
	rotate: -20deg;

	svg {
		fill: var(--white);
		margin-left: 3%;
	}
}

#back {
	display: block;
	font-family: pixel;
	max-width: max-content;
	margin: 1em auto 2em;

	&:hover {
		text-decoration: underline;
	}
}



/* article */

main {
	display: flex;
	flex-direction: column;
	gap: 4em;
	background-color: var(--white);
	padding: 4em;
	flex: 1;
	overflow-y: auto;
	z-index: 1;
	contain: size;
}

article {
	max-width: 400px;
}

.cover {
	background-image: linear-gradient(to left, var(--blue), var(--yellow), var(--red));
	width: 10em;
	padding: calc(0.25em + 1px);
	outline: 1px solid var(--white);
	outline-offset: calc(-0.25em - 1px);
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
}

h2 {
	color: transparent;
	background-image: linear-gradient(to right, var(--blue), var(--yellow), var(--red));
	background-clip: text;
	overflow: hidden;
}

dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 1em;
	margin-block: 0;
}

dt {
	font: 0.875em alte;
}

dd {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 0;
}

p {
	margin-block: 0.5em;
}

b {
	font: 0.875em/0 alte;
}



/* misc */

.yearly {
	padding-right: 1em;
	border-right: 2em solid;
	box-sizing: border-box;

	h2 {
		color: inherit;
	}
	.item {
		display: flex;
	}
	img {
		width: 3.3em;
	}
}
.yearly-grid {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.5em 1em;
	padding: 1em;
}