@keyframes rainbow {
	from {--color: var(--red)}
	16.67% {--color: var(--orange)}
	33.33% {--color: var(--yellow)}
	50% {--color: var(--lime)}
	66.67% {--color: var(--blue)}
	83.33% {--color: var(--pink)}
	to {--color: var(--red)}
}

@keyframes float {
	25% {translate: 0 -2px}
	75% {translate: 0 2px}
}

body {
	max-width: max-content;
	margin-block: 96px;
}

h1 {
	padding-block: 2px 4px;

	span {
		display: inline-block;
		color: var(--white);
		text-shadow:
			0.125em 0 var(--black),
			0.125em 0.125em var(--black),
			0 0.125em var(--black),
			0.25em 0 var(--color),
			/* 0.25em 0.125em var(--color),
			0.25em 0.25em var(--color), */
			0.125em 0.25em var(--color),
			0 0.25em var(--color);
		animation: rainbow 4s step-end infinite, float 2s steps(3, start) infinite;

		&:nth-of-type(8n - 1) {animation-delay: -0.5s}
		&:nth-of-type(8n - 2) {animation-delay: -1s}
		&:nth-of-type(8n - 3) {animation-delay: -1.5s}
		&:nth-of-type(8n - 4) {animation-delay: -2s}
		&:nth-of-type(8n - 5) {animation-delay: -2.5s}
		&:nth-of-type(8n - 6) {animation-delay: -3s}
		&:nth-of-type(8n - 7) {animation-delay: -3.5s}
	}
}

.carts {
	image-rendering: pixelated;
	margin-block: 1.5em 2em;

	ul {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		list-style-type: none;
		padding-left: unset;
		margin-block: 16px;
	}

	li {
		filter: drop-shadow(8px 8px black) drop-shadow(-8px 8px black);
		transition: 0.125s scale cubic-bezier(0.200, 0.845, 0.210, 1.195);
		position: relative;

		&:nth-of-type(odd) {
			rotate: -1deg;
		}

		&:nth-of-type(even) {
			rotate: 1deg;
		}

		&:hover {
			rotate: unset;
			scale: 1.1;
			z-index: 1;

			&:last-of-type::after {
				scale: 1.1;
			}
		}

		&:active {
			scale: 1.05;
			transition: none;
		}
	}
}

p, #back {
	text-transform: uppercase;
}

#back {
	display: block;
	transform-origin: top left;
	rotate: 1deg;
}