:root {
  --black: #383144; --dark: #c1a996; --light: #d7ccbf; --white: #fbf8f2;
  --border: 1px solid #c1a996bf;
}

/* wrapper stuff */
body {color: var(--black); letter-spacing: 0.0625em; display: flex; min-height: 100vh; background-color: var(--light); image-rendering: auto}
#wrapper {
  line-height: 1.4;
  max-width: 650px; padding: 2em 5em;
  background-color: var(--white); border-inline: 1px solid var(--dark); box-shadow: 0 0 32px -4px #c1a99680;
  margin-inline: auto;
}

/* titles */
#pretitle {color: var(--dark); font-style: italic; letter-spacing: 0.25em}
h1, .title {font-weight: bold; line-height: initial; text-shadow: 0.07em 0.07em var(--white); padding-inline: 0.75em; border: var(--border); background-image: linear-gradient(to right, #c1a99680, transparent)}
h1 {font-size: 2.5em; margin: 0 -2rem 2.5rem}
h2, h3 {line-height: initial; border-bottom: var(--border); margin-block: 3rem 1.5rem}
h2 {margin-top: 5rem; clear: both; counter-increment: section; counter-reset: subsection}
h3 {font-weight: normal; counter-increment: subsection}
h2::before, h3::before {font-size: 0.75em; font-weight: normal; opacity: 0.5; margin-right: 0.5em}
h2::before {content: counter(section) "."}
h3::before {content: counter(section) "." counter(subsection) "."}

/* boxes */
.box {padding: 1em; border: var(--border)}
.box .title {font-size: 1.25em; margin: calc(-1rem - 1px); margin-bottom: 1rem}
.box > *:last-child {margin-bottom: 0}

/* table of contents */
nav {width: 40%; float: right; margin-left: 1em}
nav ul {list-style-type: none; padding-left: 0; margin: 0}
nav ul ul {padding-left: 1em}
nav li {padding-left: 0}
nav > ul > li {counter-increment: navsection; counter-reset: navsubsection}
nav li li {counter-increment: navsubsection}
nav li::before {content: counter(navsection) "."; font-size: 0.75em; font-weight: normal; opacity: 0.5; margin-right: 0.5em}
nav li li::before {content: counter(navsection) "." counter(navsubsection) "."}

/* text formatting */
a {color: #3a4ab2; text-decoration: underline}
#first {color: #644964bf; font-size: 0.875em; font-style: italic}

/* lists */
ul, ol {padding-left: 2em; margin-block: 0.5em}
li {padding-left: 0.5em}
li::marker {color: #38314480}
ol li::marker {font-size: 0.75em}

/* images */
img {width: calc(100% - 6em); padding: 1em; background-color: var(--light); border: var(--border); box-sizing: border-box; margin: 2em 3em}

/* code */
code {color: var(--white); font-family: monospace; padding: 0.25em 0.5em; background-color: var(--black)}
pre {background-color: var(--black); margin-block: 2em; overflow-x: auto}
pre code {line-height: 2; width: max-content; padding: 0 2em; display: block}
.obj {color: #acd7e8}
.decl {color: #6cabd8}
.func {color: #e0d591}
.string {color: #e3a079}
.number {color: #8fe2b3}
.stat {color: #d18de9}
.comment {color: #989898}

/* details */
details.box {margin-block: 2em}
details.box summary.title {font-size: inherit; line-height: inherit}
details.box:not([open]) {padding: 0}
details.box:not([open]) summary {border-bottom: none; margin: -1px}

/* buttons */
button {padding: 0.5em 1em; background-color: var(--white); border: var(--border)}
button:active {background-color: var(--light)}

/* quotes */
blockquote {font-family: serif; padding: 1em 2em 1em 3em; border: var(--border); margin: 2em 0; position: relative}
blockquote footer {font-style: italic; text-align: right}
blockquote footer::before {content: "- "}
blockquote::after {content: ""; width: 1em; background: linear-gradient(to bottom, #c1a99680, transparent); border: var(--border); position: absolute; top: -1px; bottom: -1px; left: -1px}

/* links */
a.title {padding: 0.5em 1em; display: block; margin-block: 0.5em}
#back {width: max-content; margin: 5em auto 4em}