@font-face {font-family: ms-serif; src: url(../assets/fonts/ms-serif.ttf)}
body {color: var(--white); font-family: ms-serif; margin: 0; margin-top: 8px; background: url(assets/timeline.png) no-repeat center -56px / 400px, linear-gradient(to right, #070b09, transparent, #070b09), url(../assets/checkerboard-tilted-purple.png) top #0d0d0d; image-rendering: pixelated}
h1 {all: unset; display: block; text-align: center; padding: 32px 0; filter: drop-shadow(-0.1em 0 black) drop-shadow(-0.1em 0 black) drop-shadow(0.1em 0 black) drop-shadow(0.1em 0 black) drop-shadow(0 0.1em black) drop-shadow(0 0.1em black) drop-shadow(0 -0.1em black) drop-shadow(0 -0.1em black)}
h1 span {color: var(--gray)}
main {max-width: 768px; margin: auto; border-left: 4px solid var(--white); background-color: black}

.entry {display: flex; align-items: center; position: relative}
.entry::before {content: ""; width: 20px; height: 16px; background: url(assets/timeline/stop.png) center / cover; position: absolute; right: calc(100% - 8px)}
.date {color: #404040; font-size: 0.75rem; width: max-content; position: absolute; right: calc(100% + 32px)}
.insert {color: #404040; padding: 16px 32px; justify-content: space-between;}
details {--font: inherit; --font-size: 1em/1.6; --col: var(--white); --accent: var(--white); --panel-bg: transparent; --bg: black; --aside-margin: 0px; --aside-col: gray; --aside-bg: black}
.button {justify-content: space-between; font-size: 1.5em; text-decoration: none; height: 32px; padding: 32px; padding-left: 64px; position: relative; transition: background-color 0.05s}
.button::before {content: ""; width: 20px; height: 16px; background: url(assets/timeline/stop.png) center / cover; position: absolute; right: calc(100% - 8px)}
details[open] summary {background-color: #0d0d0d}
.button:hover {background-color: #1a1a1a}
.button:active {background-color: black; transition: background-color 0s}
h2 {font-size: 1em; font-weight: normal}

.content-wrapper {padding: 16px 32px; border-top: 1px solid var(--border, var(--accent)); border-bottom: 1px solid var(--border, var(--accent)); box-sizing: border-box; background: var(--bg)}
.content {color: var(--color); font: var(--font-size) var(--font); background: var(--panel-bg)}
b, a {color: var(--accent)}
b {font-weight: normal}
a {text-decoration: underline}
.aside {color: var(--aside-col); width: calc(100% + 2(-32px - var(--aside-margin))); padding: 16px 0; margin: 1em calc(-32px - var(--aside-margin)); background-color: var(--aside-bg)}
.row {display: flex; justify-content: center; gap: 32px}
.scroll {justify-content: normal; padding-left: 32px; padding-right: 32px; overflow-x: auto}
.aside img {max-width: calc(100% - 64px); max-height: 320px; margin: auto}
.row img {margin: 0}
.aside audio {width: 512px; margin: auto; background-color: var(--aside-col)}
.aside div {width: 448px; margin: auto; margin-top: 16px}
.row div {width: 160px; margin: 0}
.centered {margin: 2em auto}
div.centered {max-width: 400px; font-size: 0.75em}

/* tad */
@font-face {font-family: "tad"; src: url(assets/timeline/tad_font.ttf)}
#tad {
  --font: tad;
  --font-size: 1em/1.75;
  --color: black;
  --accent: #602217;
  --panel-bg: #686f6f;
  --aside-margin: 20px;
  --aside-col: #686f6f;
  --aside-bg: #232323;
}
#tad .content {padding: 8px 20px; border: 0 solid; border-image: url(assets/timeline/tad_panel.png) 33 16 8 16 / 66px 32px 16px 32px; border-image-outset: 2px}
#tad a {text-decoration: 2px underline}

/* eyrie */
#eyrie {
  --font: sans-serif;
  --color: black;
  --accent: black;
  --panel-bg: #ffffffe6;
  --bg: linear-gradient(to right, transparent 60%, var(--white), transparent 80%), radial-gradient(circle at 70% top, var(--white) 10%, transparent, var(--white)), url(assets/timeline/eyrie_clouds_1.png) no-repeat left, url(assets/timeline/eyrie_clouds_2.png) no-repeat right, linear-gradient(to bottom, #00b7fd, #20d6c7);
}
#eyrie .content {padding: 8px 32px; border-radius: 2px; border: 2px solid var(--white)}
#eyrie b, #eyrie a {font-weight: bold}

/* outward */
@font-face {font-family: "outward"; src: url("assets/timeline/outward-font.ttf")}
#outward {
  --font: outward;
  --font-size: 1.6em;
  --color: #f3eadd;
  --accent: #85768b;
}

/* breaktime */
#break {
  --font: sans-serif;
  --color: black;
  --accent: #3a4466;
  --bg: linear-gradient(to left, #5a6988 64px, transparent 64px) #c0cbdc;
}
#break .content {margin-right: 64px}
#break .aside {margin-right: -96px}
#break b {font-weight: bold}

/* cat comic */
#cat {
  --font: sans-serif;
  --color: black;
  --accent: var(--white);
  --bg: url(assets/timeline/catcomic_gradient.png) repeat no-repeat bottom, url(assets/timeline/catcomic_moon.png) no-repeat left 50% bottom -100px, url(assets/timeline/catcomic_clouds.png) repeat no-repeat top var(--white);
}
#cat .content {padding: 32px}
#cat b, #cat a {text-shadow: -1px -1px black, 0 -1px black, 1px -1px black, 1px 0 black, 1px 1px black, 0 1px black, -1px 1px black, -1px 0 black}
#cat b {font-weight: bold}

/* let's build a universe */
#lbau {
  --font: sans-serif;
  --border: #1f1f34;
  --bg: linear-gradient(-45deg, transparent 40%, #262b4480 40%, #262b4480 90%, transparent 90%) #181425
}
#lbau .content {text-shadow: 0 2px 0 black; padding: 32px}

/* return link */
#back {display: block; color: var(--white); text-align: center; text-decoration: none; width: 100%; padding: 16px 0; margin-top: 128px; background: linear-gradient(225deg, #ffa430, transparent), linear-gradient(to bottom, #fa7a23 1px, transparent 1px) no-repeat repeat top / 100% 4px fixed #ff8426}