/.vscode/
/offsite/
/guestbook-backup.txt
.DS_STORE

# ergonomics
/neocities/assets/ogs/
/neocities/blog/md/

# unfinished
/neocities/cat/blog/0.html
/neocities/cat/blog/2.html
/neocities/cat/comic/
/neocities/cat/comic-old/
/neocities/cat/wiki/
/neocities/cat/chara.css
/neocities/cat/chara.html
/neocities/creata/timeline-old
/neocities/ough/17776/
/neocities/ough/disco-elysium/
/neocities/ough/homestuck/
/neocities/ough/homestuck-old/
/neocities/ough/nitw/
/neocities/ough/starbound/
/neocities/ough/sword-and-sworcery/
/neocities/about-copy.html
/neocities/about-newer.html
/neocities/about-old.html
/neocities/music.html

# cannot go on neocities
*.mp*
*.ogg
*.aseprite
