# unnecessary
/offsite/
/neocities/assets/centennial-bulb/
/neocities/assets/ogs/
/neocities/cat/blog/0.html
/guestbook-backup.txt
/to-do.txt
.DS_STORE

# unfinished
/neocities/cat/old/

/neocities/creata/timeline-old

/neocities/ough/17776/
/neocities/ough/disco-elysium/
/neocities/ough/homestuck/
/neocities/ough/homestuck-old/
/neocities/ough/nitw/
/neocities/ough/plastic-death/
/neocities/ough/starbound/
/neocities/ough/sword-and-sworcery/
/neocities/ough/unlabeled/

/neocities/about-copy.html
/neocities/about-newer.html
/neocities/about-old.html

/neocities/brainless.html

# can't go on neocities
*.mp*
*.ogg
*.wav
*.aseprite