body {
	font-family: mspgothic;
	margin: 64px max(64px, 50vw - 250px);
}

h1 {
	font: italic 2em serif;
}

h2 {
	font: italic 1em serif;
	margin-block: 1em 0;
}

#subtitle {
	font-family: serif;
	font-style: italic;
}

a {
	text-decoration: underline dotted;
}