body {image-rendering: pixelated}

/* text styling */
a {text-decoration: none}
.titled, .hover {cursor: help}

/* element styling */
button {all: unset; cursor: pointer}
img, audio, button, input, marquee, iframe {display: block}
summary {cursor: pointer; user-select: none}
summary::marker {line-height: 0}
iframe {border: none}
audio {width: 100%}

/* classes */
.center {display: flex; justify-content: center; align-items: center; flex-direction: column}
body.center {height: 100vh; margin: 0}

/* notes */
.stickynote {color: black; font: 0.875rem/1.25 sans-serif; width: 128px; aspect-ratio: 1; padding: 16px; box-shadow: 0 4px 8px #0000001a; background-color: #ffe176; clip-path: polygon(0 25%, 0 0, 100% 0, 100% 25%, calc(100% + 8px) calc(100% + 12px), 50% calc(100% + 3px), -8px calc(100% + 12px)); z-index: 10}
.stickynote a:hover {text-decoration: underline}