@font-face {font-family: alte; src: url(/assets/fonts/alte.ttf)}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	color: var(--black);
	font-family: mspgothic;
	text-shadow: 0 0 0.25em #f2eff2;
	background:
		radial-gradient(closest-side circle at 64%, #d2daf7, transparent),
		url(assets/clouds.png) center / cover,
		radial-gradient(at center, #faedd8, #d9dbfb, #cfe7f5 50%, #e5f4fc) #cfe7f5;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 64px;
}

/* list */

#list {
	--padding: 25px;
	background: url(assets/disc.png) center / cover var(--black);
	width: 500px;
	height: 500px;
	box-sizing: border-box;
	margin-left: -125px;
	box-shadow:
		-8px 8px var(--black),
		16px 16px 64px -32px #cfe7f5;
	border-radius: 50%;
	flex-shrink: 0;
	position: relative;
	contain: size;

	&::before {
		content: "from one box, you unearth a flimsy case; inside, a dusty compact disc, scratched all over. it seems to have been well-used in its time. tucked under the rim of the case, you find a scrap of paper, reading: \"jummbox works... i sure hope it does! bahaha\".";
		color: #d2daf7;
		text-shadow: 0 0 2em;
		font-family: serif;
		font-style: italic;
		letter-spacing: 0.1em;
		max-width: 17.5%;
		z-index: -1;
		position: fixed;
		left: 32px;
		top: calc(100vh - 535px);
	}

	&::after {
		content: "";
		display: block;
		background: url(assets/case.png) center / cover;
		width: 500px;
		height: calc(500px * 511 / 579);
		box-shadow: 8px -8px var(--black);
		rotate: 8deg;
		z-index: -1;
		position: fixed;
		left: -50px;
		bottom: -50px;
	}

	ul {
		list-style: none;
	}
}

#search, #list a {
	width: calc(50% - 32px);
	box-sizing: border-box;
	padding-inline: 77px 25px;
	transform-origin: -32px;
	translate: 0 -50%;
	position: absolute;
	left: calc(50% + 32px);
	top: 50%;
}

#search {
	font: italic 0.875em serif;
	letter-spacing: 0.05em;
}

#list a {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-block: 0.125em;
	overflow: hidden;
	transition: background-color 0.5s;

	&:hover {
		background-color: #f2eff280;
		box-shadow: 0 0 4px #f2eff2;
		transition: background-color 0.125s;
	}
}

.scroll-hidden, .search-hidden {
	display: none !important;
}

/* tracks */

#tracks {
	width: 380px;
	height: 400px;
	padding-inline: 1em;
	overflow: hidden auto;
}

#splash {
	color: #c2b8f7;
	font-family: serif;
	font-style: italic;
	text-align: center;
	text-shadow: 0 0 2em;
	letter-spacing: 0.125em;
}

h1 {
	font-size: 2em;
	letter-spacing: 1em;
}

#splash p {
	margin-block: 0.25em;
}

#tracks article {
	contain: inline-size layout paint style;
	margin-block: 2em;

	header {
		display: flex;
		align-items: end;
		gap: 0.5em;
		margin-right: 1em;
	}

	h2 {
		font-size: inherit;
		text-overflow: ellipsis;
		background: url(assets/scrap.png) no-repeat top / cover;
		padding: 0.5em 1em;
		flex: 1;
	}

	iframe {
		background-color: var(--black);
	}

	iframe, audio {
		text-shadow: none;
		width: 100%;
		border-radius: 6px;
	}

	p {
		background: url(assets/scrap.png) no-repeat bottom / 100%;
		padding: 0.5em 1em;
		margin-block: 0;
		border-radius: 8px;
	}
}

.track-tags, .track-date {
	margin-bottom: 0.5em;
}

.track-tags {
	margin-block: 0 0.5em;
	padding-left: 0;

	li {
		display: inline;
		&::before {content: "#"}
		&:not(:last-of-type)::after {content: ", "}
	}
}

/* queries */

@media (max-width: 900px) {
	body {
		flex-direction: column;
		padding: unset;
		overflow-x: hidden;
		contain: inline-size;
	}

	#list {
		margin-left: -250px;
		&::before, &::after {content: none}
	}

	#tracks {
		max-width: 100%;
		height: unset;
		overflow-y: unset;
	}
}

@media (scripting: none) {
	#list {
		ul {
			height: 60%;
			padding-left: 0;
			margin: 20%;
			overflow: hidden auto;
			background-image: radial-gradient(closest-side, #f2eff2 67%, transparent);
		}

		a {
			width: unset;
			padding: 0.25em 0.5em;
			translate: unset;
			position: unset;
		}
	}

	#search {
		display: none;
	}
}