@font-face {font-family: ms-serif; src: url(../assets/fonts/ms-serif.ttf)}
:root {
  --text: #37424c;
  --light: #90a4a5;
  --panel-text: #627478;
  --panel-bg: #ecf5f3;
}
body {color: var(--text); font-family: sans-serif; margin: auto; background: url(assets/gradient-bottom.png) repeat-x bottom fixed}

#title {width: max-content; margin: 64px auto; position: relative}
#title div {font-size: 2em; rotate: -4deg; opacity: 0.5; position: absolute; top: -0.5em; right: calc(100% - 2em)}

/* inline */
.hover {background-color: #ffff0040; transition: background-color 0.15s}
.hover:hover {background-color: #ffff80}
.pixel {font-family: ms-serif; letter-spacing: 0.05em}
.downscale {image-rendering: auto}

/* block */
p, .small, ul {line-height: 1.6}

.panel {color: var(--panel-text); padding: 12px; border-radius: 12px; background: var(--panel-bg); display: block}
.panel img, .panel iframe {border-radius: 5px}
img {width: 100%}
.hover-shadow {transition: box-shadow 0.2s}
.hover-shadow:hover {box-shadow: 0 1px 4px #00000020}

ul {padding-left: 2em}
li {padding-left: 0.5em}
li::marker {color: var(--light); margin-left: 1em}