body {
	color: var(--off-white);
	max-width: 500px;
	background-color: var(--black);
	padding: 4em;
	margin-inline: auto;
	image-rendering: auto;
}



/* index */

#index {
	height: 3em;
	overflow: hidden auto;
}

h1 {
	display: inline-block;
	color: var(--black);
	font-size: 1em;
	vertical-align: bottom;
	max-width: max-content;
	background-color: var(--blue);
	padding-inline: 0.5em;
	margin-inline: -0.5em;
	border-radius: 0.75em;
}

button {
	display: inline;
	font: 0.75em/1 ms-serif;

	&:nth-of-type(3n - 2) {color: var(--yellow)}
	&:nth-of-type(3n - 1) {color: var(--red)}
	&:nth-of-type(3n) {color: var(--blue)}
}



/* entry */

#entry {
	margin-block: 2em;
}

#cover {
	float: left;
	width: 8em;
	height: 8em;
	margin-right: 2em;
	margin-bottom: 2em;
}

#name {
	font-size: 3em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

dl {
	margin-block: 0;
}
dt {
	display: inline;
	font: 0.75em/0 ms-serif;
	margin-right: 0.5em;
}
dd {
	display: inline;
	margin-right: 1em;
	margin-left: 0;
}