body {
	color: var(--white);
	background-color: var(--black);
	max-width: 400px;
	margin: 4em auto;
}

header {
	display: flex;
	align-items: center;
	gap: 2em;
	font-family: pixel;
	margin-bottom: 2em;
}

h1 {
	margin-top: -0.2em;
	flex: 1;

	img {
		display: inline;
		width: 20px;
		margin-left: 0.25em;
	}
}

a {
	text-decoration: underline;
}



/* receipts */

#grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	border-block: 3px double rgb(from var(--white) r g b / 0.125);
	padding-block: 4em;
	position: relative;
	z-index: 1;

	img {
		width: calc(100% + 50px);
		box-shadow: 0 0 16px rgb(from var(--black) r g b / 0.25);
		margin: -25px;
	
		&:nth-of-type(4n - 3) {
			rotate: -2deg;
		}
		&:nth-of-type(4n - 2) {
			rotate: 4deg;
			translate: 0 50px;
			scale: 0.95;
			z-index: -1;
		}
		&:nth-of-type(4n - 1) {
			rotate: 2deg;
			translate: 0 -50px;
		}
		&:nth-of-type(4n) {
			rotate: -4deg;
			translate: 0 -50px;
			scale: 1.05;
			z-index: 1;
		}
	}
}



/* mobile */

@media (max-width: 500px) {
	body {
		overflow-x: hidden;
	}
	header {
		flex-direction: column;
		gap: 0.25em;
	}
	#grid {
		contain: inline-size;
		image-rendering: auto;
	}
}