
.album {
	padding: 0.5em 0.67em;
	border: 1px solid;
	border-radius: 6px;
}

.album-title {
	font-size: 1em;
	font-weight: normal;
	margin-block: unset;
}

.album-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.33em;
	list-style: "#" inside;
	padding-left: unset;
	margin-block: unset;

	li {
	}
}