@font-face {font-family: "starbound"; src: url('assets/font.ttf')}
body {
  color: white; font: 14px/1.5 "starbound"; margin: 0;
  background: url("assets/background.png") no-repeat center/100% fixed black;
  cursor: url("assets/cursor.png"), auto;
}
@keyframes fadeIn {from {opacity: 0} to {opacity: 1}}


/* TEXT */
.object {color: #ffb42f}
.action {color: #00e436}
.greyed {color: #6f6f6f}
a {color: inherit; text-decoration: none; cursor: inherit}


/* SHIP */
#ship {
  width: 543px; height: 196px;
  padding: 68px 0 48px 96px; margin: auto; margin-top: 16px;
  box-sizing: border-box; scale: 2.5; transform-origin: top;
  background: url("assets/ship.png") no-repeat center/100%;
  position: relative; image-rendering: pixelated;
}
#ship > a {display: block; position: absolute; left: 96px; bottom: 48px}
#ship > a:hover {filter: drop-shadow(0 0 1px white)}

#sail-talk, #sail-info {
  font-size: 50%; width: 180px; height: 59px;
  padding: 6px 8px 6px 55px; box-sizing: border-box;
  scale: 0.8;
  background-image: url("assets/sail-text.gif");
  position: absolute; left: -78px; top: -56px;
  z-index: 2; user-select: none;
}
