body {margin: 0; background-color: #535353; image-rendering: pixelated}
#container {
  max-width: 590px; padding: 30px; padding-top: 20px; padding-bottom: 15.5px; margin: auto;
  border: solid #c6c6c6; border-width: 15px 160px 30px 160px; background-color: #efefef;
} 
a:not([href]) {color: #0004e8; text-decoration: underline; cursor: not-allowed}
a:not([href]):hover {opacity: 0.5}

@font-face {font-family: "courier-std"; src: url(_assets/courier-standard-bold.otf)}
h1, p {font-family: courier-std, courier, monospace}
#next, #page-footer, footer {font-family: Verdana, Arial, Helvetica, sans-serif}

nav {color: white; font: bold 10px/1.6 Arial, Helvetica, sans-serif; text-align: center; padding: 8px 0}
a.green {color: #00ff5d}
a.blue {color: #23d5f4}
a.yellow {color: #f7f74a}
a.orange {color: #ffb53d}

h1 {font-size: 32px;font-weight: normal; line-height: 1.15; text-align: center; margin: 0; margin-bottom: 10px}
#container > img {width: calc(100% + 60px); margin: 0 -30px; margin-bottom: 13px}
p {font-size: 14px; line-height: 1.35; text-align: center; padding-bottom: 5px}
#next {font-size: 24px; line-height: 1.15; margin-top: 22.5px}
#next::before {content: "> "}

#page-footer {display: flex; justify-content: space-between; font-size: 10px; font-weight: bold; line-height: 1.15; margin-top: 31px}
#page-footer span {
  color: #efefef; font-size: 8px; font-weight: lighter;
  padding: 0 3.1px; clip-path: circle();
  background-color: #0004e8;
  cursor: help;
}

footer {
  line-height: 1.4; text-align: center;
  max-width: 942px; height: 102px; padding-top: 15px;
  margin: 10px auto; margin-bottom: 3.5px; box-sizing: border-box;
  background: url(_assets/logo-mspa.png) no-repeat 17.5px, url(_assets/logo-mspa.png) no-repeat calc(100% - 17.5px);
}

@media (max-width: 970px) {
  #container {border-left-width: calc(50vw - 325px); border-right-width: calc(50vw - 325px)}
}
@media (max-width: 680px) {
  #container {max-width: none; padding-left: 4.5%; padding-right: 4.5%; border: none}
  #container > img {width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 10px}
  p {font-size: 20px}
  #page-footer {gap: 30px; padding: 15px 30px; margin: 16px 0 -15px; overflow-y: auto}
  #page-footer div, #page-footer a {white-space: nowrap}
  footer {padding-left: 119.5px; background: url(_assets/logo-mspa.png) no-repeat 17.5px}
}