body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: masonry;
	gap: 32px;
	color: var(--black);
	font-style: italic;
	background-color: var(--white);
	max-width: 1000px;
	padding-inline: 64px;
	margin: 64px auto;
}

h1 {
	font-weight: normal;
	text-align: center;
	grid-column: 1 / 4;
}

figure {
	margin-block: unset;
}

img {
	width: 100%;
	border-radius: 3px;
}

figcaption {
	margin-top: 0.5em;
}

a {
	text-decoration: underline;
}

.scroll {
	--width: calc(936px / 3 * 0.9);
	display: flex;
	gap: 0.5em;
	overflow: auto hidden;

	img {
		width: var(--width);
	}
}