@font-face {font-family: dos; src: url(/_asset/font/dos.ttf)}
:root {
	--white: #cccccc;
	--black: #0d0d0d;
}
::selection {
	color: var(--black);
	background-color: var(--white);
}

body {
	display: flex;
	justify-content: center;
	color: var(--white);
	font-family: pixel;
	background: radial-gradient(transparent 90%, #0000ff10) var(--black);
	height: 100vh;
	padding: 6em;
	box-sizing: border-box;

	&::after {content: none}
}

#playlist {
	height: 80px;
	border-radius: 12px;
}



/* nav */

nav {
	display: flex;
	flex-direction: column;
	margin-block: 2em;
}

nav a {
	text-align: right;
	padding-inline: 0.5em;
}

.active, nav a:hover {
	background-color: blue;
}

#back {
	margin-top: 0.5em;
}



/* header */

header {
	display: flex;
	justify-content: space-between;
	font-size: 0.875em;
	margin-bottom: -2em;
}

tape-deck {
	font-size: unset;
	select {contain: unset}
}



/* articles */

main {
	display: flex;
	flex-direction: column;
	gap: 4em;
	max-width: 400px;
	padding: 2em 4em;
	overflow: hidden auto;
	position: relative;
}

h2, time {
	display: inline;
}
h2 {
	font: 2em dos;
}
time {
	border-left: 1.5px solid;
	padding-left: 0.5em;
	margin-left: 0.25em;
}

h3 {
	font: 1.25em dos;
	margin-top: 1em;
}

article a {
	text-decoration: underline 1px;
}

img, video {
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
}

ul {
	list-style-type: "•  ";
}

.cover {
	padding: 0;
	margin-bottom: -2em;
	mask: linear-gradient(to top, transparent, white 4em);
	position: relative;
	z-index: -1;
}

.nuko {
	display: inline;
	width: unset;
	padding: 0;
	border: none;
	margin-block: -4px;
}



/* mobile */

@media (max-width: 600px) {
	body {
		padding: 2em;
	}
	main {
		padding-inline: 2em;
	}
	header {
		display: block;
	}
}