@font-face {font-family: dico; src: url(_assets/dico.ttf)}
@font-face {font-family: bd-regular; src: url(_assets/regular.ttf)}
@font-face {font-family: bd-small; src: url(_assets/small.ttf)}

body {
	color: #b8c2b9;

	max-width: 320px;
	background:
		linear-gradient(to right, transparent, #17131b 25%, #17131b 75%, transparent),
		url(_assets/background.gif) #17131b;
	padding-inline: 1em;
	margin: 8em auto;

	&::after {content: none}
}

h1, h2, h3, h4 {font: 1em/1 dico}
a {color: inherit}



/* header */

header {
	font-family: bd-regular;
	max-width: max-content;
	margin-inline: auto;
	margin-bottom: 6em;
}
h1 {
	color: #382b26;
	max-width: max-content;
	padding: .4em .75em;
	border-image: url(_assets/bubble.png) 0 1 30 31 fill / 0 1px 30px 31px / 0 0 30px 0;
	margin-bottom: .25em;
	position: relative;
	z-index: 1;
}
.subtitle {
	margin-left: 2em;
}
a.subtitle {
	font-family: bd-small;
	text-decoration: underline dotted;
	opacity: 0.5;
}



/* main */

article {
	color: #9a93a4;
	font-size: .875em;
	padding-inline: 18px;
	border-image: url(_assets/panel.png) 24 14 18 73 fill / 36px 21px 27px 109.5px / 0 0 0 22.5px;
	margin-block: 2em;
}

h3, time {
	display: flex;
	align-items: center;
	font-size: 24px;
}
h3 {
	height: 31.5px;
	padding-top: 6px;
	box-sizing: border-box;
}
time {
	display: block;
	color: #2d1a22;
	font-family: bd-small;
	line-height: .45;
	text-align: right;
	height: 22.5px;
	margin-top: 1em;
}

article a {
	text-decoration: underline #464757;
}
img {
	width: 100%;
	border: 1px solid #22161e;
	padding: 1px;
	box-sizing: border-box;

	&.big {image-rendering: auto}
}