@font-face {font-family: workbench; src: url(_assets/workbench.ttf)}
@keyframes move-bg {to {background-position: 1252px 626px}}
@keyframes spin {to {rotate: 360deg}}

body {
	display: flex;
	color: var(--white);
	height: 100vh;
	background:
		url(_assets/neil.gif) no-repeat 75% center,
		linear-gradient(to right, var(--black) 160px, transparent 160px),
		url(../../_assets/cloud.png) center / cover var(--blue);
	overflow: hidden;
}

#disc {
	width: 95vh;
	height: 95vh;
	contain: layout;
	margin-inline: -47.5vh;
	align-self: center;
	z-index: -1;
	animation: 120s spin steps(1080) infinite;
}



/* buttons */

filter-btn, track-btn {
	cursor: pointer;
	user-select: none;
	animation: 60s move-bg steps(600) infinite;

	&:hover, &[aria-checked="true"] {
		background-image: url(_assets/rainbow.png);
		background-attachment: fixed;
	}
}



/* left */

#left {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 1em;
	padding-right: 2em;
	background-color: var(--black);
	margin-left: 60px;
	transform: skewX(10deg);
	z-index: 1;
}

h1 {
	color: var(--dark-gray);
	font: 4em/1 gotham;
	border-radius: 0.5em;
	grid-column: 1/3;
	transform: skewX(-10deg);
}

#back {
	color: var(--gray);
	font-size: 1.5em;
	padding: 0.25em;
	transform: skewX(-10deg);
	margin-right: auto;

	&:hover {color: var(--white)}
}



/* filters */

#filters {
	color: var(--white);
	font-size: 0.875em;
	margin-top: -0.4em;
	margin-inline: 1em;
	grid-column: 1/3;
	transform: skewX(-10deg);

	h2 {
		color: var(--dark-gray);
		font: 0.875em ms-serif;
		letter-spacing: 0.1em;
	}
}

filter-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-shadow:
		-1px -1px var(--black), 0 -1px var(--black), 1px -1px var(--black), 1px 0 var(--black),
		-1px 1px var(--black), 0 1px var(--black), 1px 1px var(--black), -1px 0 var(--black);

	width: 1.75em;
	height: 1.75em;
	border-radius: 4px;
	grid-row: 2;

	&:hover {
		position: relative;

		&::after {
			content: attr(value);
			font-family: ms-serif;
			white-space: nowrap;

			background-color: var(--black);
			padding: 0.25em 0.5em;

			transform: translateY(-50%);
			position: absolute;
			top: 50%;
			left: calc(100% + 0.25em);
			pointer-events: none;
		}
	}
}



/* tracklist */

#tracklist {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-auto-rows: max-content;
	padding: 1em 2em;
	border-block: 1px solid var(--dark-gray);
	border-image: linear-gradient(to right, transparent calc(50% - 200px), var(--dark-gray) calc(50% - 200px), var(--dark-gray) calc(50% + 200px), transparent calc(50% + 200px)) 1;
	margin: 1em -2em;
	overflow: hidden auto;
	flex: 1;
}

track-btn {
	display: grid;
	grid-template:
		"name icons" max-content
		"date date" max-content
		/ 1fr max-content;
	align-content: center;
	contain: inline-size style layout paint;
	padding: 1em;
	border-radius: 2px;

	.track-name {
		font-weight: bold;
		text-overflow: ellipsis;
		overflow-x: hidden;
		grid-area: name;
	}

	time {
		font: 0.75em ms-serif;
		grid-area: date;
	}

	.track-icons {
		height: 0;
		grid-area: icons;
	}

	&:hover, &[aria-checked="true"] {
		color: var(--black);
		box-shadow:
			-1em 1em inset #ffffff30,
			1px -1px inset #ffffff60;
		
		.track-icons {filter: invert()}
	}

	&[aria-checked="true"] {
		--outset: 0.5em;

		border-left: var(--outset) solid #ffffff40;
		border-bottom: var(--outset) solid #ffffff40;

		box-shadow:
			-1.5em 1.5em inset #ffffff30,
			1px -1px inset #ffffff60;

		margin-top: calc(var(--outset) * -1);
		margin-right: calc(var(--outset) * -1);

		clip-path: polygon(
			0 var(--outset), var(--outset) 0, 100% 0,
			100% calc(100% - var(--outset)), calc(100% - var(--outset)) 100%, 0 100%
		);
		z-index: 1;
		transition:
			border-width 0.125s,
			box-shadow 0.125s,
			margin 0.125s;
	}
}

.demo {
	.track-name {
		font: 0.75em ms-serif;
	}
}



/* panel */

#panel {
	padding-left: 64px;
	margin-left: -32px;
	align-self: center;
	flex: 1;
}

h2 {
	font: 5em gotham;
	letter-spacing: -0.05em;
	text-shadow:
		0.1em 0.1em var(--black),
		0.2em 0.1em var(--color);
	text-overflow: ellipsis;
	white-space: nowrap;
	contain: inline-size;
	overflow: hidden;
	margin-block: -0.15em;
}

#ribbon {
	height: 16em;
	background-color: var(--color);
	background-image: url(_assets/rainbow-mask.png);
	padding: 2em;
	padding-left: calc(2em + 96px);
	border-block: 2px solid #ffffff30;
	box-sizing: border-box;
	margin-left: -96px;
	animation: 60s move-bg steps(600) infinite reverse;

	iframe {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		outline: 1px solid #ffffff30;
		outline-offset: 1px;
	}
}

#words {
	font: 0.875em ms-serif;
	contain: size layout;
	margin-top: 1em;
}

#description, #tags {
	margin: 0.5em 5em;
}

#description, .track-tag {
	background-color: var(--black);
	padding: 0.25em 0.5em;
}

#description {
	width: max-content;
	max-width: 500px;
}

.track-tag {
	border-radius: 1em;
	margin-right: 0.25em;

	&::before {
		content: "#";
		color: var(--gray);
		font-size: 0.75em;
		vertical-align: middle;
		margin-right: 0.25em;
	}
}



/* mobile */

@media (max-width: 950px) {

	body {
		flex-direction: column;
		background: none;
	}

	#disc, #words, #back {
		display: none;
	}

	#left {
		width: unset;
		margin-left: 0;
		z-index: unset;
		contain: size;
		flex: 1;
	}
	#left, h1, #filters, #back {
		transform: unset;
	}
	h1 {
		font-size: 2em;
	}
	#filters {
		margin-top: 0;
	}
	#tracklist {
		border-image: none;
	}

	#panel {
		padding-left: 0;
		margin-left: 0;
		align-self: stretch;
		position: relative;
		z-index: 1;
		flex: unset;

		h2 {
			font-size: 2em;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100%;
		}
	}
	#ribbon {
		padding-left: 2em;
		margin-left: 0;
	}

}