#sona {
	width: 150px;
	border-radius: 4px;
	margin: 0 1em 0.5em 0;
	float: left;
	position: relative;
}

dt {
	font-family: monospace;
	font-size: 0.875em;
	text-transform: uppercase;
}

#seashell:not(:hover) {
	color: transparent;
}