:root {
	--accent: #b38637;
	--button: rgb(from var(--accent) r g b / 0.25);
	--button-hover: rgb(from var(--accent) r g b / 0.44);
}

#entry {
	padding: 1em 2.5em;
	margin-inline: -1em;
	overflow: hidden auto;
	flex: 1;
	rotate: 1deg;
}

main {
	line-height: 1.2;
	text-align: justify;
	hyphens: auto;
	p:not(:first-child) {text-indent: 1.5em}
}



/* header */

header {
	font-family: wildpines;
	border-radius: 0.5em;
	margin-bottom: 2em;
	position: relative;
	background-color: #e6dede80;
}

#name {
	font-size: 2.5em;
	font-family: inherit;
	line-height: 1;
	margin-block: -0.125em 0.125em;
	flex: 1;
}

#date {
	letter-spacing: 0.1em;
}

h3, h4 {
	font: 1.5em/1 wildpines;
	text-align: left;
	margin-block: 2em 1em;
}

h4 {
	font-size: 1em;
}



/* inline */

#entry a {
	color: #1a4176;
	text-decoration: underline;
}

b {
	font: bold 0.9em/0 sans-serif;
}

.emote {
	display: inline;
	vertical-align: 40%;
	margin-block: -10px;
	image-rendering: pixelated;
}



/* block */

p, ul, ol, figcaption {
	text-shadow: 0 0 4px #e6dede;
}

ul, ol {
	padding-left: 1.5em;
}
ul {
	list-style-type: "ꕀ";
}
li {
	padding-left: 1em;

	&::marker {
		color: var(--black-trans);
		font-size: 0.75em;
	}
}

aside {
	font-size: 0.75em;
	background-color: #c4452620;
	padding: 1em;
	border-radius: 4px;
	margin-block: 2rem;
}

details {
	margin-block: 2em;

	&[open] {
		padding: 1em;
		border-block: 1px dotted;
		margin-top: calc(3em - 1px);

		summary {
			margin-top: -2em;
			margin-left: -1em;
			background-color: var(--button);
		}
	}
}

summary {
	max-width: max-content;
	padding: 0.25em 1em;
	border: 1px dotted;
	border-radius: 1em;

	&:hover {background-color: var(--button)}
}

blockquote {
	padding: 0.5em 1em;
	border-left: 1px dotted;
	margin: 1em 0;
	border-radius: 4px;
}

pre {
	color: var(--off-white);
	background-color: var(--black);
	border: 1em solid var(--black);
	border-radius: 4px;
	margin-block: 2em;
	overflow: auto hidden;
}

aside,
blockquote,
details {
	> *:first-child {margin-top: 0}
	> *:last-child {margin-bottom: 0}
}

dl {
	margin-block: 2em;
}
dt {
	font: bold 0.9em sans-serif;
	margin-top: 1em;
}
dd {
	margin-left: 1em;
}



/* embed */

main img {
	max-width: 100%;
	image-rendering: auto;
}

figure {
	margin: 2em;

	img, video, iframe {
		width: calc(100% - 16px);
		padding: 8px;
		padding-bottom: 16px;
		box-shadow: 1px 2px 4px #00000040;
		background-color: #f6f1e7;
	}

	iframe {
		height: 64px;
	}

	&::before {
		content: url(_asset/tape.png);
		display: block;
		width: max-content;
		margin: -10px auto -20px;
		opacity: 0.9;
		position: relative;
		z-index: 1;
		pointer-events: none;
	}

	&:nth-of-type(even)::before {
		transform: scaleX(-1);
	}

	.flex & {margin-inline: 0}

	&:is(.float-left, .float-right)::before {scale: 0.75}

	&.bandcamp iframe, &.spotify iframe {
		width: calc(133.33% - 21.33px);
		height: 42px;
		padding: 10.67px;
		padding-bottom: 21.33px;
		scale: 0.75;
		transform-origin: top left;
	}
	&.bandcamp iframe {
		height: 42px;
		margin-bottom: -10.5px;
	}
	&.spotify iframe {
		height: 80px;
		margin-bottom: -20px;
	}
}

figcaption {
	color: #201c10bf;
	font-size: 0.875em;
	text-align: center;
	margin: 0.5em
}



/* layout */

.float-left, .float-right {
	max-width: calc(50% - 1em);
	margin: 1em 0;
	position: relative;
	z-index: 1;
}
.float-left {float: left; clear: left; margin-right: 2em}
.float-right {float: right; clear: right; margin-left: 2em}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.flex {
	display: flex;
	align-items: center;
	gap: 1em;

	figure::before {scale: 0.75}
}

.scroll-x {
	padding-inline: 2em;
	margin-inline: -2em;
	overflow: auto hidden;
}

.columned {
	columns: 2;
	column-gap: 1em;
}



/* footer */

footer {
	font-size: 0.75em;
	padding-top: 1em;
	border-top: 1px dotted var(--black-trans);
	margin-block: 4rem 0;
	position: relative;

	p {margin-block: 0}

	&::before {
		content: "✄";
		color: var(--black-trans);
		background-color: #ded2c5;
		padding-inline: 0.25em;
		position: absolute;
		top: -0.5em;
		left: 1.5em;
	}
}

#mood {
	padding: 0.125em 0.5em;
	border-radius: 1em;
	transition: background-color 0.1s;
	cursor: pointer;
	user-select: none;

	img {
		display: inline-block;
		height: 24px;
		margin-bottom: -5px;
	}

	&:hover {background-color: var(--button)}
	&:active img {scale: 0.9}
}