@font-face {font-family: wildpines; src: url(/_asset/font/wildpines.woff2)}
@keyframes shoot {to {margin-left: -0.25em}}
:root {
	--black: #201c10;
	--black-trans: rgb(from var(--black) r g b / 0.5);
	--blue: #76c9d0; /* #59cdff */
	--page-width: 464px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	font-family: ms-pgothic;
	max-width: max-content;
	height: 100vh;
	background:
		linear-gradient(to right, #ffffff10 1px, transparent 1px) center / 64px 64px,
		linear-gradient(to top, #ffffff10 1px, transparent 1px) center / 64px 64px,
		radial-gradient(at center, var(--black), transparent 75%),
		var(--background) center / cover black;
	margin-inline: auto;
	position: relative;
	overflow-y: hidden;
	scrollbar-color: rgb(from var(--gray) r g b / 0.5) transparent;
	
	&::before {
		content: "";
		background: url(_asset/checkerboard.png) bottom / 240px;
		mask: linear-gradient(to top, white, transparent 50%);
		position: fixed;
		inset: 0;
	}
}



/* pages */

.page {
	display: flex;
	flex-direction: column;

	width: var(--page-width);
	aspect-ratio: 125 / 182;
	padding-block: 64px;
	box-sizing: border-box;

	background-size: cover;
	position: relative;
	rotate: -1deg;
}

#left {
	background-image: url(_asset/page-left.png);
	padding-inline: 56px 48px;
	transform-origin: right;
}

#right {
	background-image: url(_asset/page-right.png);
	padding-inline: 40px 56px;
	transform-origin: left;
}



/* left */

h1 {
	font: 60px wildpines;
	letter-spacing: -0.05em;
	margin: 5px -10px 0;
	rotate: -1deg;
}

#outlinks {
	display: flex;
	justify-content: space-between;
}

#back {
	font: 2em wildpines;
	letter-spacing: -0.05em;
	transition: 0.2s margin-left cubic-bezier(0.175, 1.270, 0.445, 1.375);
	margin-bottom: 2px;

	&:hover {margin-left: -8px}
}

#other-blogs {
	color: #e2ebeb;
	width: 97px;
	box-sizing: border-box;
	padding-inline: 4px;
	margin-right: -7px;
	rotate: 1deg;
	align-self: end;

	a {
		font: 0.875em alte;
	}
}

#other-blogs-title {
	color: rgb(from currentcolor r g b / 0.75);
	font-size: 0.75em;
	line-height: 0.75;
	letter-spacing: 0.05em;
	rotate: -2deg;
}



/* index */

nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.25em;
	padding: 1em;
	border-radius: 32px;
	margin: 10px -1em;
	overflow: hidden auto;
	flex: 1;

	button {
		color: var(--off-white);
		background-color: var(--black);
		padding: 1em;
		border-radius: 0.5em;
		transition: 0.1s;

		time {
			color: var(--gray);
			font: 0.75em/0 wildpines;
			letter-spacing: 0.1em;
			margin-right: 0.25em;
			transition: color 0.1s;
		}

		&:hover {
			font-weight: bold;
			background-color: var(--blue);
			box-shadow: 4px 4px 0 var(--black);
			transform: translate(-4px, -4px);
			position: relative;

			time {color: inherit}
		}

		&:active {
			background-color: var(--off-white);
			transition: none;
		}
	}

	hr {
		color: var(--gray);
		font-family: wildpines;
		line-height: 1.6;
		text-align: center;
		background: url(_asset/tape.png) no-repeat center / contain;
		height: 1.5em;
		aspect-ratio: 5;

		&::after {content: attr(title) " ✄"}
	}

	.wide, hr {grid-column: 1/3}
	.tall {grid-row: span 2}
}



/* extras */

tape-deck {
	gap: 0;
	color: var(--gray);
	font-size: 0.75em;
	writing-mode: vertical-lr;
	letter-spacing: 0.05em;
	background-color: black;
	width: max-content;
	height: 450px;
	padding-inline: 0.5em;
	border-radius: 0.5em;
	margin-left: 1.25rem;
	rotate: -1deg;

	button {
		border-inline-end: 1px dotted rgb(from var(--gray) r g b / 0.5);
	}

	button, select {
		padding: 1em 0.9em;
		transition: color 0.1s;
		&:hover {color: var(--off-white)}
	}
}

#nuko {
	position: absolute;
	bottom: 100%;
}

#background-credit {
	color: rgb(from var(--off-white) r g b / 0.25);
	font-size: 0.7em;
	position: fixed;
	right: 1em;
	bottom: 1em;

	&:hover {text-decoration: underline}
}



/* decor */

.decor {
	position: absolute;
	pointer-events: none;
	user-select: none;
}

#pen {
	height: 100%;
	left: -72px;
	bottom: 0;
	z-index: 1;
}

#stamp1 {bottom: 24px; right: 96px; rotate: -2deg; z-index: -1}
#stamp2 {bottom: 256px; left: 32px; rotate: -1deg; z-index: -1}
#stamp3 {bottom: 80px; left: 48px; opacity: 0.25}
#stamp4 {bottom: 48px; right: 24px; rotate: 1deg; z-index: -1}

#hammer {
	bottom: 0;
	left: 0;
	filter: drop-shadow(2px 3px 4px var(--black-trans));
}

#rosebed {
	width: calc(var(--page-width) * 2.55);
	margin-top: 4.5em;
}

#daisy1 {left: -90px; top: calc(50% + 60px)}
#daisy2 {right: -65px; bottom: calc(50% + 65px); scale: 0.75}

#maps {
	width: 400px;
	right: -120px;
}



/* mobile */

@media (max-width: 600px) {
	
	body {
		flex-direction: column;
		contain: inline-size;
		max-width: 100vw;
		height: unset;
	}

	h1 {
		font-size: 3em;
		text-align: center;
	}
	#back {
		margin-bottom: 0;
	}
	#other-blogs {
		color: inherit;
	}

	.page {
		width: unset;
		rotate: unset;
	}

	#entry {
		rotate: 0deg !important;
	}

	.decor, tape-deck {display: none}
}