@font-face {font-family: pixel; src: url(/assets/fonts/junipy.ttf)}

body {
	color: white;
	font-family: pixel, sans-serif;
	background:
		linear-gradient(to right, transparent, black 33%, black 67%, transparent),
		url(assets/background.png) black;
	max-width: 600px;
	padding: 4em;
	margin-inline: auto;
}

h1, h2, #back {
	color: #98f;
	padding: 0.5rem;
}

section {
	border: 0.25em solid #222;
	border-radius: 5px;
	padding: 0.25em;
}

a {
	color: #98f;
	&:hover {text-decoration: underline}
}

/* main */

h1 {
	font-size: 3em;
}

#back {
	display: block;
	font-size: 1.5em;
	max-width: max-content;
	margin-bottom: 4rem;
}

dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	row-gap: 0.25em;
	margin-block: 0;
}

dt {
	font: 1.5em sans-serif;
	text-align: right;
	background-color: #444;
	padding: 1rem;
	border-right: 1px solid #666;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	&:nth-of-type(4n - 3) {color: #74f0fd}
	&:nth-of-type(4n - 2) {color: #ffff5c}
	&:nth-of-type(4n - 1) {color: #f19c60}
	&:nth-of-type(4n) {color: #aaaaaa}
}

dd {
	margin-left: 0;
	background-color: #222;
	padding: 1rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* widgets */

#widgets {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	background-color: #111;
	padding: 1em;
	border-radius: 6px;
}

textarea {
	color: inherit;
	background-color: #222;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border: none;
	border-radius: 6px;
	resize: vertical;
}

/* memberlist */

h2 {
	font-size: 2em;
}

#memberlist {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	list-style-position: inside;
	padding-left: 0;
	margin-block: 0;

	li {
		background-color: #222;
		padding: 0.5rem 1rem;
		border-radius: 4px;

		&:nth-of-type(even) {
			background-color: #111;
		}

		&::marker {
			color: #444;
		}
	}

	a {
		margin-left: 0.5rem;
	}
}



/* mobile */

@media (max-width: 600px) {

	dl {
		display: block;
	}

	dt, dd {
		border-radius: 4px;
	}

	dt {
		border-right: none;
		border-bottom: 1px solid #666;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	dd {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 0.25em;
	}

	.widget {
		display: flex !important;
		flex-direction: column;
	}

}