# ergonomics
/assets/ogs/
/blog/md/

# unfinished
/cat/blog/0.html
/cat/blog/2.html
/cat/comic/
/cat/comic-old/
/cat/wiki/
/cat/chara.css
/cat/chara.html
/creata/timeline-old
/ough/17776/
/ough/disco-elysium/
/ough/homestuck/
/ough/homestuck-old/
/ough/nitw/
/ough/starbound/
/ough/sword-and-sworcery/
/about-copy.html
/about-newer.html
/about-old.html
/music.html

# cannot go on neocities
*.mp*
*.aseprite