@font-face {font-family: ms-pgothic; src: local("MS PGothic"), url(/_asset/font/ms-pgothic.ttf)}
@font-face {font-family: alte; src: url(/_asset/font/alte.ttf)}
@font-face {font-family: pixel; src: url(/_asset/font/junipy.ttf); size-adjust: 95%}
@font-face {font-family: comicoro; src: url(/_asset/font/comicoro.ttf)}
:root {
	--white: hsl(0, 4%, 90%);
	--off-white: #e2d8ca;
	--gray: hsl(0, 4%, 50%);
	--dark-gray: hsl(0, 4%, 30%);
	--black: hsl(0, 4%, 15%);

	--blue: #88d4e3;
	--yellow: #f1d27b;
	--red: #efa990;

	--light-blue: color-mix(in srgb, var(--blue), var(--white) 50%);
	--light-yellow: color-mix(in srgb, var(--yellow), var(--white) 50%);
	--light-red: color-mix(in srgb, var(--red), var(--white) 50%);
}

body {
	font-family: ms-pgothic, sans-serif;
	margin: 0;
	image-rendering: pixelated;

	&::after {
		content: "";
		background-image: url(/_asset/noise.png);
		opacity: 0.04;
		position: fixed;
		inset: 0;
		image-rendering: auto;
		pointer-events: none;
		z-index: 99;
	}
}



/* heading */

h1, h2, h3, h4 {
	font-family: alte, sans-serif;
	font-weight: normal;
	margin-block: 0;
}

hr {
	color: inherit;
	background-color: currentcolor;
	border: none;
}



/* interactive */

a {
	color: inherit;
	text-decoration: none;
}

button, select {
	color: inherit;
	font: inherit;
	text-align: left;
	background-color: transparent;
	padding: 0;
	border: none;
}

button, select, summary {
	cursor: pointer;
	user-select: none;
}

summary::marker {line-height: 0}



/* replaced */

img, audio, video, iframe, marquee, input {display: block}
iframe {width: 100%; border: none}
audio {width: 100%}



/* tape deck */

tape-deck {
	display: flex;
	align-items: center;
	gap: 1em;
	font: 0.875em/1 comicoro, sans-serif;

	button {
		text-decoration: underline;
	}

	select {
		text-overflow: ellipsis;
		white-space: nowrap;
		contain: inline-size;
		overflow: hidden;
		flex: 1;
		appearance: none;
	}
}



/* hidden */

.hidden {display: none !important}



/* themes

.calico {
	--blue: #8b93af;
	--yellow: #f9a31b;
	--white: #d4c09f;
	--lighter-gray: #d4c09f;
}

.bubblegum {
	--blue: #e8759f;
	--red: #c55656;
	--yellow: #f0a3c8;
	--white: #c7d6c2;
}

*/



/* order

element {
	DISPLAY
	display
	
	TEXT
	color
	font-*
	line-height
	letter-spacing
	text-*
	white-space

	BOX
	background
	size (width, height, aspect-ratio)
	box-sizing
	padding
	border
	outline
	box-shadow
	margin
	overflow

	TRANSFORMATION
	scale
	rotate
	transform

	FILTER
	filter
	mask

	CONTAINMENT
	contain

	POSITION
	float
	flex
	position
	inset

	ANIMATION
	transition
	animation
}

*/