@font-face {font-family: comicoro; src: url(/_asset/font/comicoro.ttf)}

body {
	color: var(--black);
	font-family: pixel;
	text-align: justify;
	background-color: var(--white);
	max-width: 476px;
	padding: 4em;
	margin-inline: auto;
}

a {
	text-decoration: underline dotted;
}

b {
	font-family: pixel;
	font-weight: normal;
}



/* header */

header {
	display: flex;
	align-items: end;
	gap: 4em;

	p {margin-block: 0}
}

noscript {
	display: block;
	text-align: center;
	padding: 0.25em;
	border: 1px dotted;
	margin-top: 1em;
}



/* main */

#content {
	display: grid;
	grid-template-columns: 12em 1fr;
	grid-template-rows: 1fr 140px;
	justify-content: space-around;
	gap: 1em 2.5em;
	margin-block: 2em;
}

main {
	> *:first-child {margin-top: 0}
	> *:last-child {margin-bottom: 0}
}

#changelog {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	overflow-y: auto;

	h2 {
		background: url(/_asset/sparkle.png) no-repeat right;
		background-size: 22px;
	}

	h3 {
		font: 1em pixel;

		&::after {
			content: "";
			display: block;
			border-bottom: 1px dotted;
			max-width: 4em;
		}
	}

	p {margin-block: 0}
}



/* nav */

nav {
	display: flex;
	justify-content: center;
	background: url(/_asset/keychain.png) no-repeat top / 100px;
	min-height: 240px;
	padding-top: 160px;
	grid-row: 1/3;
	position: relative;
	image-rendering: auto;

	a:not(:last-child) {
		--outline: 1.25px;
		--outline-minus: calc(var(--outline) * -1);
		display: block;
		color: var(--white);
		font: 2em alte, sans-serif;
		text-decoration: none;
		text-shadow:
			var(--outline-minus) var(--outline-minus) var(--black), 0 var(--outline-minus) var(--black), var(--outline) var(--outline-minus) var(--black), var(--outline) 0 var(--black),
			var(--outline-minus) var(--outline) var(--black), 0 var(--outline) var(--black), var(--outline) var(--outline) var(--black), var(--outline-minus) 0 var(--black);
		writing-mode: vertical-rl;
		white-space: nowrap;
		width: max-content;
		position: absolute;
		transform-origin: center -50px;
		margin-right: -0.25em;

		&:hover {
			color: var(--black);
			text-shadow: none;
		}

		span {
			display: block;
			margin-left: -0.25em;
			scale: -1;
		}
	}
}

#map {
	font-family: comicoro;
	position: absolute;
	bottom: 0;
}



/* footer */

footer {
	font-size: 0.875em;
}



/* mobile */

@media (max-width: 500px) {
	header, #content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 1em;
	}
	#changelog {
		max-height: 140px;
	}
}