@font-face {font-family: comicoro; src: url(/_asset/font/comicoro.ttf)}

body {
	color: var(--black);
	font-family: sans-serif;
	background-color: var(--white);
}



/* grid */

#grid {
	display: grid;
	grid-template:
		"header header"
		"nav main"
		"footer footer"
		/ 1fr 2fr;
	gap: 1em;
	max-width: 450px;
	padding: 4em;
	margin-inline: auto;
}



/* header */

header {
	grid-area: header;
}



/* nav */

nav {
	display: flex;
	flex-direction: column;
	font-family: pixel;
	grid-area: nav;
}

.nav-link {
	--color: hsl(0, 4%, 70%);
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1px;
	position: relative;

	&:hover {
		background-color: var(--color);
		margin-left: 4px;
	}
}
.nav-icon {
	background-color: var(--color);
	width: 12px;
	aspect-ratio: 1;
	padding: 8px;
}

#abt {
	--color: #f5b7a0;
}

#tunes {
	--color: #a1dbe7;
}

#blog {
	--color: #edcf7b;

	&:hover::before {
		--range: 32px;
		content: "";
		background-color: var(--color);
		clip-path: polygon(0 var(--range), 100% 0, 100% 100%, 0 calc(100% - var(--range)));
		position: absolute;
		inset-block: calc(var(--range) * -1 + 1px);
		left: 28px;
		right: 0;
		z-index: -1;
		pointer-events: none;
	}
}

#bad-dream {
	--color: #bab9eb;
}



/* main */

main {
	grid-area: main;
	> :first-child {margin-top: 0}
	> :last-child {margin-bottom: 0}
}



/* footer */

footer {
	font: 0.75em pixel;
	margin-top: 1em;
	grid-area: footer;

	a {
		text-decoration: underline dotted;
	}
}



/* mobile */

@media (max-width: 500px) {
	#grid {
		display: flex;
		flex-direction: column;
	}
	nav {
		order: 1;
	}
}