@font-face {font-family: wildpines; src: url(/_asset/font/wildpines.woff2)}
:root {
	--black: #201c10;
	--black-trans: rgb(from var(--black) r g b / 0.5);
	--blue: #76c9d0; /* #59cdff */
	--page-width: 464px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--black);
	font-family: ms-pgothic;

	max-width: max-content;
	height: 100vh;
	background:
		linear-gradient(to right, #ffffff10 1px, transparent 1px) center / 64px 64px,
		linear-gradient(to top, #ffffff10 1px, transparent 1px) center / 64px 64px,
		radial-gradient(at center, var(--black), transparent 75%),
		var(--background) center / cover black;
	margin-inline: auto;
	position: relative;
	overflow-y: hidden;
	
	&::before {
		content: "";
		background: url(_asset/checkerboard.png) bottom / 240px;
		mask: linear-gradient(to top, white, transparent 50%);
		position: fixed;
		inset: 0;
	}
}

a:hover {
	background-color: rgb(from var(--yellow) r g b / 0.5);
}



/* pages */

.page {
	display: flex;
	flex-direction: column;

	width: var(--page-width);
	aspect-ratio: 125 / 182;
	padding-block: 4em;
	box-sizing: border-box;

	background-size: cover;
	position: relative;
	rotate: -1deg;
}

#left {
	background-image: url(_asset/page-left.png);
	padding-inline: 3.5em 3em;
	transform-origin: right;
}

#right {
	background-image: url(_asset/page-right.png);
	padding-inline: 2.5em 3.5em;
	transform-origin: left;
}



/* left */

h1 {
	font: bold 3.425em wildpines;
	letter-spacing: -0.05em;
}

#back {
	font: 2em wildpines;
	letter-spacing: -0.05em;
	margin-right: auto;
	transition: 0.1s;
}



/* other-blogs */

#other-blogs {
	border: 1px dotted var(--gray);
	padding: 0.25em 1em;
	border-radius: 0.5em;
	overflow: auto hidden;
}

#other-blogs-title {
	color: var(--gray);
	font: 0.875em pixel, sans-serif;
	letter-spacing: 0.05em;
}



/* index */

nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.25em;
	padding-inline: 1em;
	margin: 1em -1em;
	overflow: hidden auto;
	flex: 1;

	button {
		color: var(--off-white);
		font-weight: bold;
		background-color: var(--black);
		padding: 1em;
		border-radius: 0.5em;
		transition: 0.1s;

		time {
			color: var(--gray);
			font: 0.75em/0 wildpines;
			margin-right: 0.25em;
			transition: color 0.1s;
		}

		&:hover {
			background-color: var(--blue);
			box-shadow: 4px 4px 0 var(--black);
			transform: translate(-4px, -4px);
			position: relative;

			time {color: inherit}
		}

		&:active {
			background-color: var(--off-white);
			transition: none;
		}
	}

	hr {
		color: var(--gray);
		font-family: wildpines;
		text-align: center;
		height: 1.25em;
		aspect-ratio: 5;
		background: url(_asset/tape.png) no-repeat center / contain;

		&::after {content: attr(title) " ✄"}
	}

	.wide, hr {grid-column: 1/3}
	.tall {grid-row: span 2}
}



/* extras */

tape-deck {
	color: var(--gray);
	font-size: 0.75em;
	writing-mode: vertical-lr;
	letter-spacing: 0.05em;
	width: 1em;
	height: 450px;
	background-color: black;
	padding: 1.25em 1em;
	border-radius: 0.5em;
	margin-left: 1.25rem;
	rotate: -1deg;

	button {
		padding: 0.5em 1em;
		margin: -0.5em -1em;
		transition: color 0.1s;
		&:hover {color: var(--off-white)}
	}
}

#background-credit {
	color: rgb(from var(--off-white) r g b / 0.25);
	font-size: 0.7em;
	position: fixed;
	right: 1em;
	bottom: 1em;

	&:hover {text-decoration: underline}
}



/* decor */

.decor {
	position: absolute;
	pointer-events: none;
	user-select: none;
}

#pen {
	height: 100%;
	left: -72px;
	bottom: 0;
	z-index: 1;
}

#stamp1 {bottom: 24px; right: 96px; rotate: -2deg; z-index: -1}
#stamp2 {bottom: 256px; left: 32px; rotate: -1deg; z-index: -1}
#stamp3 {bottom: 80px; left: 48px; opacity: 0.25}
#stamp4 {bottom: 48px; right: 24px; rotate: 1deg; z-index: -1}

#hammer {
	bottom: 0;
	left: 0;
	filter: drop-shadow(2px 3px 4px var(--black-trans));
}

#rosebed {
	width: calc(var(--page-width) * 2.55);
	margin-top: 4.5em;
}

#maps {
	width: 400px;
	right: -120px;
}



/* mobile */

@media (max-width: 600px) {
	
	body {
		display: block;
		contain: inline-size;
		width: 100vw;
		max-width: unset;
		height: unset;
		overflow-y: unset;
		padding-bottom: 50px;
	}

	#rosebed {
		position: fixed;
		left: -50%;
	}

	.page {
		width: unset;
		rotate: unset;
		> * {rotate: unset}
	}

	h1::after {content: none}

	#music, #maps {display: none}

}