@font-face {font-family: fullcomp; src: url(../_assets/fonts/fully-completely.ttf)}
@font-face {font-family: nunito; src: url(../_assets/fonts/nunito-black.ttf)}
@keyframes float {from {transform: translateY(-0.1em)} to {transform: translateY(0.1em)}}
:root {
	--text-outline:
		-1px -1px var(--pink), 0 -1px var(--pink), 1px -1px var(--pink), 1px 0 var(--pink),
		-1px 1px var(--pink), 0 1px var(--pink), 1px 1px var(--pink), -1px 0 var(--pink);
	
	scrollbar-color: var(--pink) transparent;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--red);
	background-color: var(--black);
	padding: 8em;
	margin-inline: auto;
	overflow-x: hidden;
}



/* post from */

#post-from {
	position: relative;
	z-index: -1;

	img {
		width: 400px;
		margin-right: -100px;
	}

	&::after {
		content: "";
		width: 11em;
		height: 11em;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		top: 2em;
		left: 5em;
	}
}



/* main */

main {
	display: flex;
	flex-direction: column;
	gap: 1em;
	flex-basis: 506px;
}



/* header */

header {
	contain: inline-size;
}

h1 {
	font: 6em/0.75 fullcomp, sans-serif;
	text-shadow: -0.1em 0.1em #322c2c;
}

#suptitle {
	font: 0.875em ms-serif;
	margin-left: 2.5em;
	margin-bottom: -1em;
}

#subtitle {
	font-size: 0.875em;
	margin-left: 2.5em;
	margin-top: 0.25em;
}

#cjbody {
	font: .5em sans-serif;
	text-align: justify;
	text-align-last: justify;
}



/* body */

#splash {
	font: 1.35em/1.25 sans-serif;
}

tape-deck {
	font-size: 0.75em;
}

#kao {
	font-family: mspgothic;
	order: 1;
}

#boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;

	height: 8.5625em;
	padding-right: 1.5em;
	margin-right: -1.5em;
	overflow: hidden auto;
	scrollbar-color: var(--red) transparent;
}

.box {
	border: 1px solid;

	h2 {
		color: var(--black);
		font-size: 1.4em;
		background-color: var(--red);
	}

	ul {
		padding-left: 1em;
		margin: 0.5em;
	}
}

.albums {
	grid-column: 1/3;
	
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5em;
		list-style-type: none;
		padding-left: 0;
	}

	li {
		white-space: nowrap;
		overflow: hidden;
	}

	a {
		display: grid;
		grid-template-columns: max-content 1fr;
		column-gap: 0.5em;
	}

	img {
		width: 2em;
		grid-row: 1/3;
		image-rendering: auto;
	}

	b {
		align-self: end;
	}
}

marquee {
	font: 4em gotham;
	text-transform: uppercase;
}

#back {
	color: inherit;
	font: 0.75em ms-serif;

	&:hover {
		text-decoration: underline;
	}
}



/* mobile */

@media (max-width: 1000px) {
	body {padding: 2em}
	#post-from {display: none}
}