@font-face {font-family: wildpines; src: url(assets/wildpines.woff2)}
@font-face {font-family: chicago; src: url(/assets/fonts/chicago.woff2)}

:root {
	--page-width: 464px;
	--white: #e2d8ca;
	--black: #201c10;
	--blue: #7bc6d5;
	--pink: #f69cac;
	--accent: var(--pink);
	--gradient-color: rgb(from var(--accent) r g b / 15%);
	--border-color: rgb(from color-mix(in srgb, var(--black), var(--accent) 75%) r g b / 75%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-family: mspgothic;
	background:
		linear-gradient(to right, #ffffff10 1px, transparent 1px) center / 64px 64px,
		linear-gradient(to top, #ffffff10 1px, transparent 1px) center / 64px 64px,
		radial-gradient(at center, var(--black), transparent 75%),
		url(assets/background.jpg) center / cover fixed var(--black);
	height: 100vh;
	overflow: hidden;

	> * {image-rendering: pixelated}
}

::selection {
	text-shadow: none;
	background-color: rgb(from var(--accent) r g b / 33%);
}

/* notebook */

#notebook {
	display: flex;
	color: var(--black);
	position: relative;
	contain: layout;
}

.page {
	display: flex;
	flex-direction: column;
	background-size: cover;
	width: var(--page-width);
	aspect-ratio: 125/182;
	box-sizing: border-box;
	padding-block: 64px;
	position: relative;
	rotate: -1deg;
}

#left {
	background-image: url(assets/page_left.png);
	padding-inline: 56px 48px;
	transform-origin: right;
}

#right {
	background-image: url(assets/page_right.png);
	padding-inline: 40px 56px;
	transform-origin: left;
}

#pen {
	height: 100%;
	position: absolute;
	left: -72px;
	top: 0;
	pointer-events: none;
}

/* left page */

#left {
	z-index: 1;
}

h1 {
	font: 8.75em/0.75 wildpines;
	letter-spacing: -0.05em;
	margin: 5px -10px 16px;
	rotate: -1deg;
}

#search-wrapper {
	rotate: -1deg;
}

#search {
	width: 100%;
	padding-right: 1.5em;
	height: 24px;
}

#search-icon {
	height: 1em;
	position: absolute;
	right: 0;
	top: 50%;
	translate: 0 -50%;
	pointer-events: none;
}

nav {
	display: flex;
	flex-direction: column;
	align-content: start;
	gap: 2px;
	padding: 8px;
	border-radius: 24px;
	margin: 8px -8px;
	overflow: hidden auto;
	flex: 1;
}

.nav-item {
	color: var(--white);
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--black);
	min-height: calc(1em + 32px);
	padding-block: 16px;
	padding-inline: 32px 24px;
	border-radius: 8px 12px;
	overflow: hidden;
	transition: box-shadow 0.1s, translate 0.1s;
	
	&:hover {
		--wave: url(assets/wave1.png) center / auto 200%;
		text-shadow: 0 0 8px var(--accent);
		background:
			linear-gradient(to left, var(--accent) 50%, rgb(from var(--accent) r g b / 50%)),
			var(--wave) var(--accent);
		box-shadow: 4px 4px var(--black);
		translate: -4px -4px;

		&:nth-of-type(odd) {
			--wave: url(assets/wave2.png) center / auto 400%;
		}
	}

	&:active {
		text-shadow: unset;
		background: var(--white);
		transition: none;
	}

	&:first-of-type::before {
		content: "NEW✨";
		color: #f1d27b;
		font-size: 0.75em;
		font-weight: bold;
		margin-inline: 0.5em;
	}
}

#back {
	font: 4em/0.875 wildpines;
	background-image: radial-gradient(at bottom right, var(--gradient-color) 50%, transparent);
	border-block: 1px dotted var(--border-color);
	position: absolute;
	left: 56px;
	bottom: 64px;
	transition: text-shadow 0.1s, translate 0.1s;

	&::first-line {
		font-size: 0.875em;
	}

	&:hover {
		color: var(--accent);
		text-shadow: 4px 4px var(--black);
		translate: -4px -4px;
	}
}

.stamp {
	position: absolute;
	z-index: -1;
	pointer-events: none;
	user-select: none;
}
#stamp1 {bottom: 24px; right: 96px; rotate: -2deg}
#stamp2 {bottom: 256px; left: 32px; rotate: -1deg}
#stamp3 {bottom: 80px; left: 48px; opacity: 0.25; z-index: 0}
#stamp4 {bottom: 48px; right: 24px; rotate: 1deg}

/* right page */

#splash {
	background: url(assets/paper.png) no-repeat top / 100%;
	aspect-ratio: 200 / 189;
	box-sizing: border-box;
	padding: 1em;
	padding-top: 3.5em;
}

#statuscafe {
	float: right;
	border: 16px solid;
	border-image: url(assets/bubble.gif) round fill 16 / 16px / 16px;
	margin-top: -16px;
}

#statuscafe-username {
	font-size: 0.875em;
}

#currently {
	list-style: none;
	padding-left: unset;
	margin-block: 0.5em;

	li {
		text-indent: -0.5em;
		padding-left: 0.5em;
		margin-block: 0.25em;
	}

	b {
		color: color-mix(in srgb, var(--black), var(--accent) 25%);
		font: italic 0.875em serif;
		vertical-align: middle;
		background-color: rgb(from var(--accent) r g b / 33%);
		padding: 0.125em 0.25em;
		border-inline: 1px solid rgb(from var(--accent) r g b / 66%);
		border-radius: 0.25em;
	}
}

#imood {
	display: inline;
	vertical-align: text-bottom;
}

#splash-tip {
	color: color-mix(in srgb, var(--black), var(--accent));
	font: italic 0.875em serif;
	text-align: center;
	margin-top: 2em;
}

#hammer:not(:hover) {
	filter: drop-shadow(2px 3px 4px rgb(from var(--black) r g b / 0.5));
	position: absolute;
	left: 0;
	bottom: 0;
}

/* sidebar */

tape-deck {
	color: var(--white);
	font-family: chicago;
	writing-mode: vertical-lr;
	background-color: var(--black);
	height: 425px;
	padding: 16px 8px;
	margin-left: 16px;
	position: relative;

	:is(button, select):hover {
		/* color: #cdae6a; */
		color: var(--pink);
	}
}

#nuko {
	position: absolute;
	bottom: 100%;
}

/* background */

#bg-shadow, #bg-images {
	pointer-events: none;
	z-index: -1;
}

#bg-shadow {
	background: url(assets/checkerboard.png) bottom / 240px;
	mask: linear-gradient(to top, white, transparent 50%);
	position: fixed;
	inset: 0;
}

#bg-images {
	background:
		url(assets/maps.png) no-repeat calc(50% + var(--page-width) - 50px) center,
		url(assets/rosebed.png) no-repeat center calc(50% + 35px) / calc(var(--page-width) * 2.55),
		url(assets/daisy.png) no-repeat calc(50% - var(--page-width) + 10px) calc(50% + 185px),
		url(assets/daisy.png) no-repeat calc(50% + var(--page-width) - 35px) calc(50% - 195px) / 192px;
	position: absolute;
	inset: -64px -177px -64px -126px;
}

#bg-credit {
	color: rgb(from currentcolor r g b / 0.5);
	font-size: 0.75em;
	text-align: right;
	position: fixed;
	right: 16px;
	bottom: 16px;
	&:hover {text-decoration: underline}
}

/* entry structure */

#entry {
	background: radial-gradient(closest-side at center, #e6dede 50%, transparent);
	padding: 16px 40px;
	margin-inline: -16px;
	overflow: hidden auto;
	rotate: 1deg;
	flex: 1;
}

#entry-header {
	font-family: wildpines;
	text-align: center;
	background-image: radial-gradient(farthest-side ellipse at bottom, var(--gradient-color), transparent);
	padding-bottom: 0.5em;
	border-bottom: 1px dotted var(--border-color);
}

#entry-title {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1;
	word-break: break-word;
	margin-block: -0.125em 0.125em;
	flex: 1;
}

#entry-date {
	color: color-mix(in srgb, var(--black), var(--accent));
	letter-spacing: 0.1em;
}

#entry-content {
	line-height: 1.2;
	text-align: justify;
	hyphens: auto;
	margin-block: 2em 3em;

	p {text-indent: 1em}
}

#entry-footer {
	display: flex;
	justify-content: space-evenly;
	font-size: 0.75em;
	background-image: radial-gradient(farthest-side ellipse at top, var(--gradient-color), transparent);
	padding-top: 1em;
	border-top: 1px dotted var(--border-color);
	position: relative;

	&::before {
		content: "✄";
		color: var(--border-color);
		background-color: #ded2c5;
		padding-inline: 0.25em;
		position: absolute;
		top: -0.6em;
		left: 1.5em;
	}
}

.entry-chain-link {
	color: color-mix(in srgb, var(--black), var(--accent));
	padding: 6px 8px;
	background-color: rgb(from var(--accent) r g b / 25%);
	border: 1px solid rgb(from var(--accent) r g b / 50%);
	border-radius: 6px;
	transition: background-color 0.1s, border-color 0.1s;

	&:hover {
		background-color: rgb(from var(--accent) r g b / 33%);
		border-color: color-mix(in srgb, var(--accent), var(--white) 75%);
	}

	&:active {
		background-color: color-mix(in srgb, var(--accent), var(--white) 75%);
		transition: none;
	}
}

/* entry inline */

#entry a {
	color: #1a4176;
	text-decoration: underline;
}

.emote {
	display: inline;
	vertical-align: 40%;
	margin-block: -10px;
	image-rendering: pixelated;
}

/* entry block */

h3, h4 {
	font: italic 1.25em / 1 serif;
	text-align: left;
	hyphens: none;
	background-image: radial-gradient(50% 100% at bottom, var(--gradient-color), transparent);
	padding-bottom: 0.25em;
	border-bottom: 1px dotted var(--border-color);
	margin-block: 1.5em 1em;
}

h4 {
	font-size: 1em;
}

#entry :is(p, ul, ol, figcaption) {
	text-shadow: 0 0 4px #e6dede;
}

ul, ol {
	padding-left: 1.5em;
}

ul {
	list-style-type: "ꕀ";
}

li {
	padding-left: 1em;

	&::marker {
		color: color-mix(in srgb, var(--black), var(--accent));
		font-size: 0.75em;
	}
}

aside {
	font-size: 0.75em;
	background-color: #c4452620;
	padding: 1em;
	border-radius: 4px;
	margin-block: 2rem;
}

details {
	margin-block: 1.5em;

	&[open] {
		padding: 1em;
		padding-top: 0;
		border-bottom: 1px dotted var(--border-color);

		summary {
			padding-bottom: 0.5em;
			margin-inline: -1em;
			border-bottom: 1px dotted var(--border-color);
			&::before {content: url(assets/details_open.png)}
			&:active::before {content: url(assets/details_open_active.png)}
		}
	}
}

summary {
	display: flex;
	align-items: center;
	gap: 0.4em;

	&::before {
		content: url(assets/details_closed.png);
		margin-bottom: -0.25em;
	}

	&:active::before {content: url(assets/details_closed_active.png)}
}

blockquote {
	color: color-mix(in srgb, var(--black), var(--accent) 25%);
	font-family: serif;
	font-style: italic;
	background-image:
		radial-gradient(50% 100% at top, rgb(from var(--gradient-color) r g b / 8%), transparent),
		radial-gradient(50% 100% at bottom, rgb(from var(--gradient-color) r g b / 8%), transparent);
	border-block: 1px dotted var(--border-color);
	margin-block: 1.5em;
}

pre {
	color: var(--white);
	tab-size: 4;
	background-color: var(--black);
	border: 1em solid var(--black);
	border-radius: 4px;
	margin-block: 2em;
	overflow: auto hidden;
}

aside, details {
	> *:first-child {margin-top: 0}
	> *:last-child {margin-bottom: 0}
}

dl {
	margin-block: 2em;
}

dt {
	font: bold 0.9em sans-serif;
	margin-top: 1em;
}

dd {
	margin-left: 1em;
}

/* entry embeds */

#entry img {
	max-width: 100%;
}

audio {
	width: 100%;
	border-radius: 8px;
}

.emote {
	display: inline;
	vertical-align: 40%;
	margin-block: -10px;
	image-rendering: pixelated;
}

.photo {
	margin: 2em;
	position: relative;

	&::before {
		content: url(assets/tape.png);
		opacity: 0.9;
		translate: -50%;
		position: absolute;
		top: -14px;
		left: 50%;
		pointer-events: none;
		z-index: 1;
	}

	&:nth-of-type(even)::before {
		transform: scaleX(-1);
	}

	img, video, iframe {
		background-color: #f6f1e7;
		box-sizing: border-box;
		padding: 0.5em;
		padding-bottom: 1em;
		border-radius: 2px;
		box-shadow: 1px 2px 8px -4px rgb(from var(--black) r g b / 50%), 0 8px 16px var(--gradient-color);
		width: 100%;
		image-rendering: auto;
	}

	iframe {
		height: 64px;
	}

	&:is(.float-left, .float-right, .flex &)::before {
		scale: 0.75;
	}

	&.bandcamp iframe, &.spotify iframe {
		width: calc(133.33% - 21.33px);
		padding: 10.67px;
		padding-bottom: 21.33px;
		scale: 0.75;
		transform-origin: top left;
	}
	&.bandcamp iframe {
		height: 74px;
		margin-bottom: -10.5px;
	}
	&.spotify iframe {
		height: 80px;
		margin-bottom: -20px;
	}
}

.caption {
	color: color-mix(in srgb, var(--black), var(--accent));
	font-size: 0.875em;
	text-align: center;
	margin: 0.5em;
}

/* entry layout */

.float-left, .float-right {
	max-width: calc(50% - 1em);
	margin: 1em 0;
	position: relative;
	z-index: 1;
}
.float-left {float: left; clear: left; margin-right: 2em}
.float-right {float: right; clear: right; margin-left: 2em}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.flex {
	display: flex;
	align-items: center;
	gap: 1em;

	.photo {
		min-width: 40%;
		margin-inline: unset;
	}
}

.scroll-x {
	padding-inline: 2em;
	margin-inline: -2em;
	overflow: auto hidden;
}

.columned {
	columns: 2;
	column-gap: 1em;
}

/* mobile */

@media (max-width: 900px) {
	body {
		height: unset;
	}
	#notebook {
		flex-direction: column;
	}
	#pages, #entry {
		rotate: unset;
	}
	.page {
		width: 100vw;
	}
	h1 {
	    font-size: calc((100vw - 104px) * 0.39);
	}
	#background-shadow, #background-images, #bg-credit, tape-deck {
		display: none;
	}
	#back {
		left: 5%;
	}
}