html {scroll-behavior: smooth}
body {color: white; font-family: sans-serif; margin: 0; background-color: black; image-rendering: pixelated}
body::after {content: ""; width: 64px; background-image: linear-gradient(to right, transparent 26px, black 26px, black 28px, white 28px, white 32px, black 32px, black 34px, transparent 34px); position: fixed; left: 0; top: 0; bottom: 0; pointer-events: none}
nav {display: flex; justify-content: center; background-color: black; position: fixed; bottom: 0; left: 0; right: 0; z-index: 2}
nav a {color: #404040; text-align: center; width: 100px; padding: 8px; transition: box-shadow 0.1s, transform 0.1s, color 0.1s, background-color 0.1s}
nav a:hover {color: black; text-decoration: none; box-shadow: 0 4px gray; transform: translateY(-4px); background-color: white}
nav a:active {box-shadow: none; transform: none; background-color: gray}

/* section styling */
section {padding: 32px 32px 64px 64px; position: relative}
header {display: flex; justify-content: space-between; align-items: center; gap: 8px; margin-bottom: 16px}
h2 {margin: 0}
h2::before {content: url(assets/timeline/stop.png); position: absolute; left: 20px; z-index: 1}

.content {width: 100%; max-width: 700px; box-sizing: border-box}
.content a {text-decoration: underline}
.content > img {margin: 2em auto}
.aside {width: max-content; max-width: 400px; box-sizing: border-box; position: absolute; left: 796px}
.aside img, .aside audio {max-width: 100%; margin-bottom: 16px}

.gallery {display: flex; align-items: center; gap: 8px; padding: 32px; padding-left: 64px; margin: 2em; margin-left: -64px; margin-right: calc(-100vw + 764px); background-color: black}
.gallery img {flex: 1; width: 100%}

/* landing */
#landing {display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; padding: 0; background-image: radial-gradient(closest-side circle at center, #ffffff20, transparent)}
#landing header {display: flex; flex-direction: column}
#comet {margin-bottom: -75px; margin-top: -51px; filter: drop-shadow(0 1px 2px white); z-index: 1}
#landing h1 {display: flex; justify-content: center; align-items: center; color: black; font: 4em magazine; letter-spacing: -0.2em; width: 300px; height: 249px; margin: 0; background: url(assets/timeline/landing_paper.png) center / cover}
#landing h1 span {rotate: -4deg}
#infobox {color: gray; font-family: monospace; text-align: center; line-height: 1.25; max-width: 500px; padding: 16px 32px; margin-top: 64px; border: 1px solid #404040}

/* tad */
@font-face {font-family: "tad"; src: url(assets/timeline/tad_font.ttf)}
@keyframes tad {from {opacity: 0} to {opacity: 1}}
#tad {font: 1em/1.75 "tad"}
#tad header {padding-top: 80px; background: url(assets/timeline/tad_header.png) no-repeat}
#tad h2 {color: #602217; line-height: 0.9; padding-top: 8px; padding-right: 8px; background-color: black}
#tad h2::after {content: " |"; animation: 2s tad steps(2, jump-none) infinite}
#tad .content {color: black; padding: 8px 20px; border: 0 solid; border-image: url(assets/timeline/tad_panel.png) 33 16 8 16 / 66px 32px 16px 32px; border-image-outset: 2px; background-color: #686f6f}
#tad b {color: #602217; font-weight: normal}
#tad div.aside {padding: 16px; border: 0 solid; border-image: url(assets/timeline/tad_aside.png) 16 0 / 32px 0 repeat; border-image-outset: 32px 0; background-color: #232323}

/* eyrie */
@font-face {font-family: "eyrie"; src: url("assets/timeline/eyrie_font.ttf")}
#eyrie {color: black; background: linear-gradient(to right, transparent 60%, white, transparent 80%), radial-gradient(circle at 70% top, white 10%, transparent, white), url(assets/timeline/eyrie_clouds_1.png) no-repeat left, url(assets/timeline/eyrie_clouds_2.png) no-repeat right, linear-gradient(to bottom, #00b7fd, #20d6c7)}
#eyrie h2 {font: 1.75em eyrie; text-shadow: 0 0 1px}
#eyrie .content {line-height: 1.6; padding: 8px 32px; border-radius: 2px; border: 2px solid white; background-color: #ffffff40}
#eyrie a {color: inherit; font-weight: bold}

/* outward */
@font-face {font-family: "outward"; src: url("assets/timeline/outward-font.ttf")}
#outward {font: 1.75em/1 "SinsGold"}
#outward h2 {width: 680px; margin: 0}
#outward h2 img {margin: auto}
#outward .content {padding-right: 16px}
#outward b, #outward a {color: #999999}
#outward b {font-weight: normal}
#outward .aside {color: #606060}

/* wizardgame */
#wizardgame h2 {text-shadow: 2px 2px blue}
#wizardgame .content {color: black; font-family: serif; padding: 16px; margin-left: 16px; margin-bottom: 16px; box-shadow: 0 0 16px inset #deb88780, 0 0 8px #00000020, -16px 16px 0 lightgray; rotate: -1deg; background-color: white}
#wizardgame #first-letter {float: left; font-size: 4em; line-height: 0.5}

/* breaktime */
#breaktime {color: #181425; background: linear-gradient(to right, #c0cbdc 808px, #5a6988 808px, #5a6988 840px, transparent 840px) #181425}
#breaktime .content {line-height: 1.6}
#breaktime b, #breaktime a {color: #3a4466; font-weight: bold}
#breaktime .aside, #breaktime .gallery {color: white}
#breaktime .aside p {width: max-content; padding: 4px 8px; border-radius: 8px; background-color: #00000080}

/* cat comic */
#catcomic {color: black; background: url(assets/timeline/catcomic_gradient.png) repeat no-repeat bottom, url(assets/timeline/catcomic_clouds.png) repeat no-repeat top white}
#catcomic h2 {padding: 8px 16px; border: 2px solid; border-radius: 4px}
#catcomic .content {line-height: 1.6}
#catcomic b, #catcomic a {color: white; text-shadow: -1px -1px black, 0 -1px black, 1px -1px black, 1px 0 black, 1px 1px black, 0 1px black, -1px 1px black, -1px 0 black}

/* LBAU */
#lbau {text-shadow: 0 2px 0 black; background: linear-gradient(-45deg, transparent 40%, #262b4480 40%, #262b4480 90%, transparent 90%) #181425}
#lbau .content {line-height: 1.6}

/* mobile */
@media (max-width: 1196px) {
  nav {display: none}
  .aside {width: 100%; margin: 2em 0; position: static}
  div.aside {width: 100%; max-width: 1000px}
}
@media (max-width: 764px) {
  .gallery {flex-direction: column; margin-right: -32px}
}