body {
	color: #546d5b80;
	text-align: center;
	background:
		radial-gradient(circle at top, #03291abf, transparent 30%) fixed,
		radial-gradient(black, #0d0b0e) fixed;
	margin: 2em;
	image-rendering: auto;
}

h1 {
	color: transparent;
	font: 3em "Homemade Apple", cursive;
	background: linear-gradient(-5deg, var(--white) 25%, #00ffb7);
	background-clip: text;
	max-width: max-content;
	margin-inline: auto;
}

p {
	margin-block: 0.5em;
}

#back {
	font-family: pixel;
	text-decoration: underline;
}


#cards {
	display: flex;
	gap: 4em;
	background-color: rgb(from currentcolor r g b / 0.075);
	padding: 2em 4em;
	border-radius: 0.5em;
	max-width: max-content;
	margin: 1em auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: end;
	color: black;
	font-family: serif;
	width: 200px;
	height: 345px;
	padding: 1.5em;
	border-radius: 0.25em;
	box-sizing: border-box;
	cursor: pointer;

	&.face-down {
		background: url(_asset/back.png) center / cover;
		.card-name {display: none}
	}

	&.face-up {
		background: url(_asset/front.png) center / cover #bcb893;
	}

	.card-name {
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;

		img {height: 0.625em}
		span {margin-top: 0.1em}
		.space {display: inline-block; margin-right: 4px}
	}
}

.noclick {
	cursor: auto;
	pointer-events: none;
}



/* mobile */

@media (max-width: 900px) {
	header, footer {font-size: 0.75em}
	h1 {font-size: 2em}

	#cards {
		justify-content: center;
		max-width: unset;
		padding-inline: 0;
	}
	.card:not(:first-of-type) {display: none}
}