@font-face {font-family: gotham; src: url(../_assets/fonts/gotham-ssm.otf)}
:root {
	--black: #201c10;
	--black-trans: #201c1080;
	--page-width: 464px;
}
.no-rot, .pass-rot {rotate: 0deg !important}
.pass-rot > * {rotate: 1deg}