@font-face {font-family: ms-serif; src: url(../assets/fonts/ms-serif.ttf)}
@font-face {font-family: print; src: url(../assets/fonts/magazine.ttf)}
@font-face {font-family: dyslexic; src: url(assets/OpenDyslexic.otf)}
body {display: flex; justify-content: center; align-items: center; color: #201c10; font: 1em sans-serif; height: 100vh; margin: 0; background: linear-gradient(to right, #ffffff10 1px, transparent 1px) center / 64px 64px, linear-gradient(to top, #ffffff10 1px, transparent 1px) center / 64px 64px, var(--background) no-repeat center / cover fixed; image-rendering: auto; overflow: hidden; user-select: none}
body::before {content: ""; mask: linear-gradient(to top, white, transparent 50%); -webkit-mask: linear-gradient(to top, white, transparent 50%); background: url(assets/checkerboard.png) bottom / 240px; position: fixed; top: 0; right: 0; bottom: 0; left: 0}
@keyframes open {from {filter: brightness(0.5); transform: scaleX(0)}}
#wrapper {display: flex; justify-content: center; align-items: center; width: max-content; rotate: -1deg; position: relative; animation: open 1s; image-rendering: pixelated; scrollbar-color: var(--button) transparent}
#index, #main-wrapper {width: 464px; height: 100%; aspect-ratio: 250 / 364; box-sizing: border-box; background-size: 100%}
#rosebed {width: 1184px; transform: translateY(36px); rotate: 1deg; position: absolute; z-index: -1}
#credit {color: #ffffff40; font-size: 0.75em; position: fixed; bottom: 8px; right: 8px}
#credit a {color: inherit; text-decoration: underline}
i {text-align: center; width: 1em}

/* index */
#index {display: flex; flex-direction: column; padding: 72px 48px 48px 56px; background-image: url("assets/notebook-left.png"); position: relative}
h1 {display: flex; gap: 0.5em; font: bold 3em sans-serif; margin: 0; rotate: 1deg}
h1::after {content: ""; flex: 1; align-self: center; height: 2px; background-color: #201c1080}
h1 img {width: 100%; margin-right: -0.5em}
#subtitle {color: #201c1080; font-size: 0.875em; text-align: right; margin-top: -0.5em; rotate: 1deg}
#pen {padding-bottom: 3px; height: 87.91%; transform-origin: bottom left; position: absolute; bottom: 0.4%; left: -15.6%; pointer-events: none}
#stamp-1, #stamp-2, #stamp-3, #stamp-4 {position: absolute; pointer-events: none}
#stamp-1 {bottom: 24px; right: 96px; rotate: -2deg}
#stamp-2 {bottom: 64px; left: 48px; opacity: 0.5}
#stamp-3 {bottom: 48px; right: 24px; rotate: 1deg}
#stamp-4 {bottom: 256px; left: 32px; rotate: -1deg}

/* links */
nav {flex: 1; display: grid; grid-template-columns: 1fr 1fr; grid-auto-rows: max-content; align-items: start; gap: 1px 16px; height: 100%; padding: 8px; padding-bottom: 256px; margin: 16px -8px; border-radius: 4px; overflow-y: auto; position: relative}
nav h2, .wide {grid-column: 1/3}
.tall {grid-row: span 2; align-self: stretch}
nav h2 {color: #201c1080; font: 1em ms-serif; font-size: inherit; margin: 0}
nav a, #back {
  display: block; color: white; font-weight: bold; padding: 16px; rotate: 1deg; background-color: #201c10; transition: 0.1s; cursor: pointer;
  &:hover {
    color: white; background-color: #59cdff; box-shadow: -4px 4px 0 #201c10; transform: translate(4px, -4px);
    &:nth-of-type(even) {box-shadow: 4px 4px 0 #201c10; transform: translate(-4px, -4px)}
  }
  &:active {background-color: white}
  & i {margin-right: 0.25em}
}
.new::after {
  content: " (new! ✨)"; color: transparent; line-height: 0; background-image: linear-gradient(to right, #ff8426, #ffd100); background-clip: text; -webkit-background-clip: text;
  &:hover {color: black}
  &:active {color: white}
}
.line {
  color: #201c1080;
  display: flex; align-items: center; gap: 1em;
  grid-column: 1/3; margin-top: 1em;

  &::after, &::before {
    content: ""; border-top: 1px dashed #201c1080; flex: 1;
  }
}
#back {width: max-content}

/* ENTRY */
#main-wrapper {display: flex; padding: 48px 32px 48px 20px; border: none; background-image: url("assets/notebook-right.png")}
main {padding: 8px 0; overflow: hidden auto; flex: 1}
#hamper {filter: drop-shadow(0 0 8px #00000080); position: absolute; bottom: 16px; right: -32px}
:root {
  --button: #b3863740;
  --button-hover: #b3863770;
}


/* wrapper and title */
article {line-height: 1.6; padding: 32px 8px; contain: content; user-select: text}
article > * {rotate: 1deg}
article header {
  line-height: initial; margin-bottom: 2.5em; border: 1px solid #201c1080; display: flex;
  & h2, .date {padding: 6px 8px}
  & h2 {
    font-size: 2.15em; margin: -0.5em 0; rotate: -2deg; flex: 1; align-self: center;
    & span {font-family: print}
  }
  .date {color: #00000080; font-size: 0.875em; white-space: nowrap; border-left: inherit; display: flex; align-items: center}
}
.poem {
  &::before {content: ""; display: block; height: 15px; margin-bottom: 2px; rotate: 1deg; background: url(assets/poem.png)}
  & header {
    display: grid; grid-template-columns: 1fr max-content;
    & h2 {grid-row: 1/3}
    & .date {padding: 4px 6px; &:last-of-type {border-top: inherit}}
  }
  & p {text-indent: 0}
}

/* text + inline elements */
p {text-indent: 1.5em}
article a {color: #1a4176; text-decoration: underline}
article ul {padding-left: 2em}
article li {padding-left: 0.5em}

.hover {border-bottom: 2px dotted #b38637}
.pixel {font-family: ms-serif; letter-spacing: 0.05em}

/* images */
figure {margin: 0}
figure img {max-width: 100%}
figcaption {color: #201c10bf; font: 0.875em ms-serif; text-align: center; letter-spacing: 0.05em; margin: 0.5em}
.photo {
  image-rendering: auto;
  &::before {
    content: url(assets/tape.png); display: block;
    width: max-content; margin: -10px auto -20px;
    opacity: 0.9; position: relative; z-index: 1;
  }
  &:nth-of-type(even)::before {transform: scaleX(-1); rotate: 0deg}
  & img, & video {
    width: 100%;
    padding: 8px; padding-bottom: 16px; box-sizing: border-box;
    box-shadow: 1px 2px 4px #00000040;
    background-color: #f6f1e7; user-select: none;
  }
}
.float-left, .float-right {
  max-width: calc(50% - 1em); margin-bottom: 0.5em; position: relative; z-index: 1;
  &::before {scale: 0.6}
}
.float-left {float: left; clear: left; margin-right: 1em}
.float-right {float: right; clear: right; margin-left: 1em}
.render-pixel {image-rendering: pixelated}

/* block elements */
.pass-rot {rotate: 0deg !important; & > * {rotate: 1deg}}

/* details */
details > div {padding: 0.5em; border-radius: 12px; background-color: var(--button)}
summary {width: max-content; padding: 0 0.5em; border-radius: 12px; background-color: var(--button); rotate: 0deg !important}
summary::marker {color: #b38637}
summary:hover {background-color: var(--button-hover)}
details[open] summary {border-bottom-left-radius: 0; border-bottom-right-radius: 0}
details[open] > div {border-top-left-radius: 0}

/* layouts */
.grid {display: grid; grid-template-columns: 1fr 1fr}
.grid img {width: 100%; aspect-ratio: 1; object-fit: cover}
.flex {display: flex; gap: 0.5em; padding: 8px; margin: -8px; overflow-x: auto}
.flex .photo::before {scale: 0.5}
/* .locked {color: #795838; padding: 16px; border-radius: 12px; background-color: #b3863720}
.locked input {font: inherit; max-width: 100%; margin-top: 4px; border: none; border-bottom: 1px solid #795838; background-color: transparent; appearance: none} */

/* footer */
footer {font-size: 0.875em; display: flex; justify-content: space-between; align-items: center; opacity: 0.75; margin: 2em 0; user-select: none}

.mood-type {padding: 0 0.5em; border-radius: 0.75em; background: var(--button); cursor: pointer; user-select: none; transition: background-color 0.1s}
.mood-type:hover {background-color: var(--button-hover)}
.mood-type img {display: inline-block; height: 24px; margin-bottom: -5px}
.mood-type:active img {scale: 1.1}

/* music */
#audio-player {color: gray; padding: 16px 12px; background-color: black; display: flex; flex-direction: column; gap: 12px; position: absolute; top: 80px; left: calc(100% + 16px)}
#audio-player button {padding: 6px 12px; margin: -6px -12px; transition: color 0.2s}
#audio-player button:hover {color: white}
#audio-player marquee {height: 400px}
#audio-player marquee span {writing-mode: vertical-lr; line-height: 1; letter-spacing: 0.05em; text-align: center; white-space: nowrap}

/* mobile */
@media (max-width: 927px) {
  body {height: unset; overflow-y: scroll}
  #wrapper {flex-direction: column; rotate: 0deg; animation: none}
  #index, #main-wrapper {width: 100%}
  #main-wrapper {aspect-ratio: unset; background: url(assets/notebook-right-slice-top.png) no-repeat top / 100%, url(assets/notebook-right-slice-bottom.png) no-repeat bottom / 100%, url(assets/notebook-right-slice-tile.png) top / 100%}
  main {overflow: unset}
  article > *, .poem::before {rotate: unset}
  #audio-player, #rosebed {display: none}
}