:root {--accent: #f9c547; --accent-trans: #f9c54780}
@font-face {font-family: "header"; src: url("/assets/Bleo.ttf")}
body {
  color: #fff1e8; font-family: monospace;
  padding: 16px 32px; margin: 0;
  border-left: 2px solid var(--accent);
  background-color: #1d1d1d; image-rendering: pixelated;
}

/* HEADER */
header {
  padding-top: 16px; margin-top: -16px; margin-bottom: 16px;
  border-bottom: 1px dashed var(--accent-trans); box-shadow: 0 8px 8px #1d1d1d; background-color: inherit;
  position: sticky; top: 0; z-index: 1;
}
h1, h2 {font-family: "header"}
h2 {margin-top: 0}
header h2 {display: inline}
header span {float: right; text-transform: lowercase; opacity: 0.5}

/* LINKS */
a {color: var(--accent); text-decoration: none; border-bottom: 1px dashed var(--accent-trans)}
a[href]:hover {
  color: black; text-shadow: 0 0 1px; filter: brightness(1.1);
  box-shadow: 2px 0 #fcb423, -2px 0 #fcb423; border: none;
  background-image: url("../assets/scan.gif"); background-color: #f9c547;
}
a:has(img) {border: none}
a[href]:has(img):hover {box-shadow: none; background: none}
a:not([href]) {color: black; filter: brightness(0.5); border: none; background: radial-gradient(var(--accent) 1px, transparent 1px) center / 2.5px 2.5px; cursor: not-allowed}
/*a:not([href]) {text-decoration: line-through; border: none; opacity: 0.5; cursor: not-allowed}*/

/* TEXT */
li {margin-top: 4px}
li::marker {color: var(--accent)}
hr {border: none; border-top: 1px dashed var(--accent-trans); margin: 16px 0; clear: both}
span[title] {border-bottom: 1px dashed var(--accent-trans); cursor: help}
summary {cursor: pointer}
iframe {border: none}

/* IMAGES */
.float {float: right; margin: 16px}
