body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 2em;
	image-rendering: pixelated;
}

img {
	max-width: 100%;
}