@font-face {font-family: transport; src: url(/_asset/font/transport.ttf)}

body {
	display: flex;
	justify-content: center;
	color: var(--black);
	background-color: var(--off-white);
	margin: 6em 1em;
}

h1 {
	font: 2em transport, sans-serif;
}

#cover {
	background: url(/_asset/cloud.png) center / cover, radial-gradient(circle at top, var(--off-white), transparent) var(--blue);
	border-radius: 4px;
	flex-basis: 150px;
}

main {
	padding-inline: 2em;
	flex-basis: 230px;
}

hr {
	background: linear-gradient(to left, var(--off-white), transparent), url(_asset/squiggle.png);
	height: 3px;
	margin-block: 2em;
}

dt {
	font: 0.875em transport;
	margin-top: 1em;
}

dd {
	margin-left: 1em;
}

#back {
	display: block;
	font-size: 1.5em;
	margin-top: 4rem;
}