@font-face {font-family: mspgothic; src: local("MS PGothic"), url(_assets/fonts/mspgothic.ttf)}
@font-face {font-family: ms-serif; src: url(_assets/fonts/ms-serif.ttf)}
@font-face {font-family: gotham; src: url(_assets/fonts/gotham-ssm.otf)}

:root {
	--white: #e2d8ca;
	--light-gray: #b2a69c;
	--gray: #82736e;
	--dark-gray: #4f4644;
	--darker-gray: #322c2c;
	--black: #292626;

	--blue: #80cede;
	--yellow: #eccb6e;
	--red: #efa990;
}

body {
	font-family: mspgothic, sans-serif;
	margin: 0;
	cursor: url(_assets/cursor.png), auto;
	image-rendering: pixelated;

	&::after {
		content: "";
		background-image: url(_assets/noise.png);
		opacity: 0.04;
		position: fixed;
		inset: 0;
		pointer-events: none;
		z-index: 99;
	}
}



/* inline */
a {text-decoration: none}

/* heading */
h1, h2, h3, h4 {
	font-family: sans-serif;
	margin-block: 0;
}
hr {
	color: inherit;
	height: 1px;
	background-color: currentcolor;
	border: none;
}

/* input */
button, select {all: unset}
button, select, summary {
	user-select: none;
	cursor: pointer;
}
summary::marker {line-height: 0}

/* replaced */
img, audio, video, marquee, button, select, input, iframe {display: block}
iframe {border: none}
audio {width: 100%}

/* misc */
.hidden {display: none !important}

tape-deck {
	display: flex;
	align-items: center;
	gap: 1em;
	font: 0.875em/1 ms-serif, sans-serif;

	button {text-decoration: underline}

	.track-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		contain: inline-size;
		overflow: hidden;
		flex: 1;
	}
}



/* themes */

.calico {
	--blue: #8b93af;
	--yellow: #f9a31b;
	--white: #d4c09f;
	--lighter-gray: #d4c09f;
}

.bubblegum {
	--blue: #e8759f;
	--red: #c55656;
	--yellow: #f0a3c8;
	--white: #c7d6c2;
}