@font-face {font-family: mspgothic; src: local("MS PGothic"), url(_assets/fonts/mspgothic.ttf)}
@font-face {font-family: ms-serif; src: url(_assets/fonts/ms-serif.ttf)}

:root {
	--white: #dddad5;
	--gray: #827a77;
	--dark-gray: #4d4847;
	--darker-gray: #3a3535;
	--black: #322e2e;

	--blue: #4cb7ed;
	--red: #ed5977;
	--yellow: #f1bc51;
}

body {
	font-family: mspgothic, sans-serif;
	margin: 0;
	cursor: url(_assets/cursor.png), auto;
	image-rendering: pixelated;
}

/* inline */
a {text-decoration: none}
.titled, .hover {cursor: help}

/* block */
h1, h2, h3, h4 {
	font-family: sans-serif;
	margin-block: 0;
}
hr {
	color: inherit;
	height: 1px;
	background-color: currentcolor;
	border: none;
}

button, select {all: unset}
button, select, summary {
	user-select: none;
	cursor: pointer;
}
summary::marker {line-height: 0}

img, audio, video, marquee, button, select, input, iframe {display: block}
iframe {border: none}
audio {width: 100%}

/* misc */
.hidden {display: none !important}



/* themes */

.calico {
	--blue: #8b93af;
	--yellow: #f9a31b;
	--white: #d4c09f;
}

.bubblegum {
	--blue: #e8759f;
	--red: #c55656;
	--yellow: #f0a3c8;
	--white: #c7d6c2;
}