@font-face {font-family: fullcomp; src: url(_assets/fonts/fully-completely.ttf)}
@font-face {font-family: print; src: url(_assets/fonts/magazine.ttf)}
:root {
	--lighter-gray: #e7d9b7;
	scrollbar-color: var(--dark-gray) transparent;
}

body {
	display: flex;
	align-items: start;
	gap: 4em;

	color: var(--white);
	background-color: var(--black);
	margin: 4em calc(50vw - 585px);
}



/* header */

header {
	width: max-content;
	position: relative;

	&::before {
		content: "";

		width: 890px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 1em solid var(--darker-gray);
		outline: 0.5em solid var(--darker-gray);
		outline-offset: 0.25em;

		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: -1;
	}
}

@keyframes fairylight {
	0% {text-shadow: 0 -0.1em var(--blue), 0.1em -0.1em var(--blue), 0.1em 0 var(--blue), 0.1em 0.1em var(--blue), 0 0.1em var(--blue), -0.1em 0.1em var(--blue), -0.1em 0 var(--blue), -0.1em -0.1em var(--blue)}
	33% {text-shadow: 0 -0.1em var(--red), 0.1em -0.1em var(--red), 0.1em 0 var(--red), 0.1em 0.1em var(--red), 0 0.1em var(--red), -0.1em 0.1em var(--red), -0.1em 0 var(--red), -0.1em -0.1em var(--red)}
	66% {text-shadow: 0 -0.1em var(--yellow), 0.1em -0.1em var(--yellow), 0.1em 0 var(--yellow), 0.1em 0.1em var(--yellow), 0 0.1em var(--yellow), -0.1em 0.1em var(--yellow), -0.1em 0 var(--yellow), -0.1em -0.1em var(--yellow)}
}

h1 {
	display: flex;
	align-items: end;
	gap: 0.15em;

	color: var(--black);
	font: bold 4em fullcomp;

	background: url(_assets/starchart.png) repeat-x bottom;
	padding-inline: 0.5em;
	margin-inline: -0.5em;

	span {
		animation: 4s fairylight step-end infinite;
		&:nth-of-type(1) {animation-delay: -6s; rotate: -2deg}
		&:nth-of-type(2) {animation-delay: -5s; rotate: -4deg; margin-bottom: 0.05em; text-decoration: overline dotted 0.01em}
		&:nth-of-type(3) {animation-delay: -4s; margin-left: -0.05em}
		&:nth-of-type(4) {animation-delay: -3s; rotate: 3deg; text-decoration: underline wavy 0.01em}
		&:nth-of-type(5) {animation-delay: -2s; rotate: -2deg; margin-bottom: -0.05em}
		&:nth-of-type(6) {animation-delay: -1s}
		&:nth-of-type(7) {rotate: 4deg}
	}
}

#theme-select {
	margin-top: 0.5em;
}



/* main */

nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: max-content;
	gap: 1em;

	max-width: 700px;
	background-color: var(--black);
	padding: 1em;
	box-sizing: border-box;
	border-radius: 1em;
	flex: 1;

	> a:hover {
		outline: 8px solid var(--white);
		outline-offset: 2px;
	}

	img {
		width: 100%;
	}
}



/* misc */

a {color: inherit}

select {
	padding: 0.5em 1em;
	border: 0.1em dotted var(--gray);
	border-radius: 1em;
}

@keyframes appear {from {opacity: 0}}

.lights-off {

	&::before {
		content: "";
		background-color: black;
		position: fixed;
		inset: 0;
		z-index: 99;
	}

	&::after {
		content: "";
		background: url(_assets/napstablook.gif) no-repeat center;
		opacity: 0.33;
		animation: 30s appear;
	}

}



/* mobile */

@media (max-width: 1200px) {
	body {
		flex-direction: column;
		align-items: center;
		margin-inline: 1em;
	}
}

@media (max-width: 800px) {
	body {
		overflow-x: hidden;
	}
	header::before {
		width: 100vw;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
}