@font-face {font-family: fullcomp; src: url(_assets/fonts/fully-completely.ttf)}
@font-face {font-family: magazine; src: url(_assets/fonts/magazine.ttf)}
@font-face {font-family: nunito-black; src: url(_assets/fonts/nunito-black.ttf)}

:root {
	--red-offset: #f1c499; /* f1b699 */
	--blue-offset: var(--blue);
	--yellow-offset: #eed48d;
}

body {
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 4em;

	color: var(--black);
	background: radial-gradient(transparent 75%, #ffffff80) fixed var(--white);
	margin: 4em;
	position: relative;
}


.flex-row, .flex-col {
	display: flex;
	gap: 1em;
}
.flex-col {
	flex-direction: column;
}


.block {
	padding: 2em;
	border-radius: 6px;

	> *:first-child {margin-top: 0}
	> *:last-child {margin-bottom: 0}
}


#goldfish, #goldfish2, #goldfish3, #goldfish4 {
	pointer-events: none;
	user-select: none;
}
#goldfish {
	margin-top: -100px;
	margin-inline: auto;
}
#goldfish2 {
	position: absolute;
	top: -64px;
	right: 32px;
}
#goldfish3 {
	margin-left: 8em;
	margin-top: 2em;
}
#goldfish4 {
	margin-left: auto;
	margin-right: -2em;
	margin-block: -2em -1em;
}



/* left */

@keyframes gradient {
	from {background-color: var(--blue)}
	33.33% {background-color: var(--yellow)}
	66.67% {background-color: var(--red)}
}

#left {
	position: relative;
	background-image: linear-gradient(to top, rgb(from var(--blue) r g b / 0.25), transparent 4em);
	border-radius: 4px;
	margin-bottom: 1em;
}

#title {
	background: url(_assets/mask-scales.png) repeat-x bottom var(--blue);
	padding: 4em;
	padding-bottom: 6em;
	box-shadow: 0 -8px 16px -8px var(--blue);

	p {
		margin-block: 0.5em;
	}
}

h1 {
	font: 4em nunito-black;
	line-height: 0.8;
	margin-bottom: 2rem;

	--outline: 0.075em;
	filter:
		drop-shadow(var(--outline) 0 var(--white))
		drop-shadow(calc(-1 * var(--outline)) 0 var(--white))
		drop-shadow(0 var(--outline) var(--white))
		drop-shadow(0 calc(-1 * var(--outline)) var(--white))
		drop-shadow(calc(var(--outline) / 2) 0)
		drop-shadow(calc(var(--outline) / -2) 0)
		drop-shadow(0 var(--outline))
		drop-shadow(0 calc(var(--outline) / -2))
	;

	span {
		color: transparent;
		background-color: var(--black);
		background-clip: text;
	}
}

#contrast-toggle {
	font-size: 0.75em;

	input {
		appearance: none;
		display: inline-block;
		color: inherit;
		font: inherit;
		vertical-align: -0.125em;
		width: 0.875em;
		height: 0.875em;
		border: 1px solid;
		border-radius: 50%;
		margin: 0;
		margin-right: 0.125em;
		user-select: none;
		cursor: pointer;

		&:checked {
			background-color: currentColor;
		}
	}
}

footer {
	color: var(--light-gray);
	margin-block: 2em;
}

tape-deck {
	margin: 1em 4em 0.5em;

	.track-title {text-align: right}

	&.nightcore {
		background: url(_assets/sparkles.gif) center / cover;
		padding: 1em;
		margin: 0 3em -0.5em;
	}
}

#awful-fucking-thing {
	width: 20px;
	height: 20px;
	cursor: pointer;

	&:active {content: url(_assets/nuko-electrocute.gif)}
	.nightcore & {content: url(_assets/nuko-dance.webp)}
}

#footer-info {
	font: 0.75em ms-serif;
	text-align: center;
	a {text-decoration: underline}
}



/* mobile */

@media (max-width: 800px) {
	
	body {
		flex-direction: column;
		align-items: unset;
	}

	nav {
		display: flex !important;
		flex-direction: column;
	}

	#header-right, #goldfish2, #goldfish3, #goldfish4 {
		display: none;
	}

	#left {
		background-image: none;
	}

	#goldfish {
		width: 100%;
	}

}



/* high contrast */

.high-contrast {
	.block {background: var(--black) !important}
	.block, #statuscafe-username {color: var(--white)}
	h1, tape-deck, footer, #map {color: var(--black)}

	#creata .title span {all: unset}
}