@font-face {font-family: fullcomp; src: url(_assets/fonts/fully-completely.ttf)}
@font-face {font-family: magazine; src: url(_assets/fonts/magazine.ttf)}
@font-face {font-family: nunito-black; src: url(_assets/fonts/nunito-black.ttf)}

:root {
	--red-offset: #f1c499; /* f1b699 */
	--blue-offset: var(--blue);
	--yellow-offset: #eed48d;
}

body {
	display: flex;
	justify-content: center;
	gap: 4em;

	color: var(--black);
	background: radial-gradient(transparent 75%, #ffffff80) fixed var(--white);
	margin: 4em;
	position: relative;
}


.flex-row, .flex-col {
	display: flex;
	gap: 1em;
}
.flex-col {
	flex-direction: column;
}


.block {
	padding: 2em;
	border-radius: 6px;

	> *:first-child {margin-top: 0}
	> *:last-child {margin-bottom: 0}
}


#goldfish {
	margin: -100px auto 1em;
}
#goldfish-2 {
	position: absolute;
	top: -64px;
	right: 32px;
}
#goldfish-3 {
	margin-left: 8em;
	margin-top: 2em;
}
#goldfish-4 {
	position: absolute;
	right: -2em;
	bottom: -1em;
}


a {color: inherit}



/* left */

@keyframes gradient {
	from {background-color: var(--blue)}
	33.33% {background-color: var(--yellow)}
	66.67% {background-color: var(--red)}
}

#left {
	position: relative;
	background-image: linear-gradient(to top, rgb(from var(--blue) r g b / 0.25), transparent 4em);
	border-radius: 4px;
	margin-bottom: 1em;
}

header.block {
	background: url(_assets/mask-scales.png) repeat-x bottom var(--blue);
	padding: 4em;
	padding-bottom: 6em;
	box-shadow: 0 -8px 16px -8px var(--blue);

	p {margin-block: 0.5em}
}

h1 {
	font: 3.25em nunito-black;
	line-height: 0.8;

	margin-bottom: 3rem;
	filter:
		drop-shadow(0.1em 0 var(--white))
		drop-shadow(-0.1em 0 var(--white))
		drop-shadow(0 0.1em var(--white))
		drop-shadow(0 -0.1em var(--white))

		drop-shadow(0.05em 0)
		drop-shadow(-0.05em 0)
		drop-shadow(0 0.1em)
		drop-shadow(0 -0.05em)
	;

	span {
		color: transparent;
		background-color: var(--black);
		background-clip: text;
	}
}

tape-deck {
	color: var(--light-gray);
	margin: 0.5em 4em;

	.track-title {
		text-align: right;
	}

	&.nightcore {
		background: url(_assets/sparkles.gif) center / cover;
		padding: 1em;
		margin: -1em 3em -0.5em;
	}
}

#awful-fucking-thing {
	width: 20px;
	height: 20px;
	cursor: pointer;

	&:active {content: url(_assets/nuko-electrocute.gif)}
	.nightcore & {content: url(_assets/nuko-dance.webp)}
}

footer {
	color: var(--light-gray);
	font: 0.75em ms-serif;
	text-align: center;

	a {text-decoration: underline}
}



/* mobile */

@media (max-width: 800px) {
	
	body {
		flex-direction: column;
		align-items: unset;
	}

	nav {
		display: flex !important;
		flex-direction: column;
	}

	#header-right, #goldfish-2, #goldfish-3, #goldfish-4 {
		display: none;
	}

	#left {
		background-image: none;
	}

	#goldfish {
		width: 100%;
	}

}