.wide {grid-column: 1/3}
.tall {grid-row: span 2}
.tall-2 {grid-row: span 3}
.tall-3 {grid-row: span 4}

.box {
	padding: 1em;
	border: 2px dotted var(--dark-gray);
	border-radius: 8px;

	p:first-of-type {margin-top: 0}
	p:last-of-type {margin-bottom: 0}

	a {
		text-decoration: dotted underline;
		&:hover {text-decoration: underline}
	}
}


/* intro */
#intro {
	height: 2em;
	padding-bottom: 2em;
	overflow-y: auto;
}


/* about */
#about {
	background-color: var(--lighter-gray);
	padding: 8px;
	padding-bottom: 24px;
	border-radius: 4px;

	div {
		--pink: #d97575;
	
		display: flex;
		justify-content: end;
		align-items: center;
	
		color: #33383c;
		font: 1.5em sans-serif;
		letter-spacing: 0.05em;
		text-shadow: 0 0 12px var(--pink);
	
		height: 126px;
		background: url(_assets/abouzutsumi.png) no-repeat -90% 50% / auto 300% var(--pink);
		padding-inline: 0.2em;
		border-radius: inherit;

		image-rendering: auto;
	}
}


/* audio player */
tape-deck {
	color: var(--gray);
	position: relative;

	.track-title {
		background-image: url(_assets/plaid.png);
		border-radius: 4px;
		flex: 1;
	}

	button {
		text-decoration-color: var(--gray);
		&:hover {color: var(--white)}
	}
}

@keyframes awful {
	from {object-position: left}
	to {object-position: right}
}
#awful-fucking-thing {
	object-fit: contain;
	height: 20px;

	position: absolute;
	bottom: 100%;
	cursor: pointer;
	animation: 60s awful linear infinite alternate;

	&:active {content: url(_assets/nuko-electrocute.gif)}
}
.nightcore {
	background-image: url(_assets/sparkles.gif);
	background-size: cover;

	#awful-fucking-thing {
		content: url(_assets/nuko-dance.webp);
		background-image: url(_assets/sparkles.gif);
		background-size: cover;
		animation-duration: 1s;
	}
}


/* creata */
#creata {
	contain: inline-size paint;
	background-color: var(--yellow);
	padding-bottom: 0.5em;
	border-radius: 4px;
	flex: 1;

	h2 {
		color: var(--lighter-gray);
		font-size: 9em;
		font-weight: bold;
		letter-spacing: -0.1em;
		line-height: 0.5;
		margin-left: -0.25em;
		pointer-events: none;
		
		span {font-family: print, sans-serif}
	}

	a {
		display: block;
		font-weight: bold;
		margin: 0.5em 1em;
		padding: 1em;
		border-radius: 4px;

		&:hover {
			outline: 8px solid var(--white);
			outline-offset: 2px;
		}
	}
}
#creata-wrapper {
	display: flex;
	flex-direction: column;
}
#cats {
	display: block;
	width: 92px;
	margin: -46px 8px -18px auto;
	position: relative;
	z-index: 1;
}


/* cat comic */
#cat-comic {
	text-shadow: -0.1em 0.1em var(--blue);
	background-color: var(--blue);
	background: url(_assets/cloud.png) 5% var(--blue);
}


/* bad dream */
#bad-dream {
	color: #b8aab0;
	text-shadow: -0.1em 0.1em var(--black);
	padding-left: 2em !important;
	background:
		url(_assets/bad-dream-box.png) var(--black);
}


/* tunes */
#tunes {
	color: var(--lighter-gray);
	text-shadow:
		0.15em 0.15em var(--darker-gray),
		0.3em 0.15em var(--blue);

	contain: paint;
	background: url(_assets/cloud.png) center var(--blue);
	padding: 0.75em 1em;
	border-radius: 4px;

	iframe {
		width: calc(100% - 2em);
		height: 64px;
		background-color: var(--black);
		border-radius: 4px;
		margin-left: 2em;
		opacity: 0.8;
	}
}
#track-name {
	font-family: ms-serif;
	font-size: 0.75em;
	letter-spacing: 0.1em;
	text-shadow:
		0 -0.1em var(--black), 0.1em -0.1em var(--black),
		0.15em 0 var(--black), 0.15em 0.15em var(--black),
		0 0.15em var(--black), -0.1em 0.1em var(--blue),
		-0.1em 0 var(--black), -0.1em -0.1em var(--black);
	
	padding-left: 0.25em;
	padding-right: 0.4em;
	background-color: var(--darker-gray);
	margin: 0 4px;
	justify-self: start;
}
@keyframes spin {to {rotate: 360deg}}
#cd {
	contain: layout;
	position: absolute;
	top: 4px;
	left: -112px;
	z-index: -1;
	animation: 120s spin steps(1080) infinite;
}


/* map */
#map {
	color: var(--light-gray);
	text-align: center;
	background: url(_assets/map.png) center / 100%;
	border-radius: 0.5em;

	a:hover {
		text-decoration: underline var(--gray);
	}
}


/* statuscafe */
#statuscafe {
	color: var(--black);
	background-color: var(--white);
	padding: 1em;
	border-radius: 1em;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 1.5em;
		height: 1.5em;
		background-color: inherit;
		border-radius: 2px;
		border-bottom-left-radius: 50%;
		rotate: 45deg;
		position: absolute;
		top: calc(50% - 0.75em);
		right: -0.5em;
	}
}
#statuscafe-username {
	color: var(--gray);
	font-size: 0.75em;

	a {
		text-decoration: dotted underline;
		&:hover {text-decoration: underline}
	}
}
#statuscafe-content {
	margin-top: 0.25em;
}
#statuscafe-wrapper {
	background-image: url(_assets/plaid.png);
	padding: 1em;
	padding-right: 1.5em;
	border-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -1em;
}


/* blog */
#blog {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--yellow);
	font-family: gotham;
	font-size: 4em;
	text-shadow: 0.1em 0.1em var(--black);

	aspect-ratio: 578/354;
	background:
		url(_assets/stamp.png) center / cover,
		url(_assets/leaves.gif) repeat-x center / auto 64px,
		url(_assets/plaid.png);
	border-radius: 8px;
	border-top-left-radius: 0;

	img {
		display: inline;
		width: unset;
		height: 0.75em;
	}
}


/* lightswitch */
#lightswitch {
	width: unset;
	cursor: pointer;
}


/* footer */
footer {
	display: flex;
	gap: inherit;
	color: var(--gray);
	font-size: 0.875em;

	.box {flex: 1}
}
#lightswitch {align-self: start}


/* links */
#links {
	color: var(--gray);
	text-align: center;
	font-size: 0.875em;
	letter-spacing: 0.025em;
	background-image: url(_assets/halftone.png);
	border-radius: 1em;

	a {
		text-decoration: dotted underline;
		&:hover {text-decoration: underline}
	}
}