nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;

	max-width: 550px;
	flex: 1;
}

.wide {grid-column: 1/3}
.tall {grid-row: span 2}
.tall-2 {grid-row: span 3}
.tall-3 {grid-row: span 4}



/* links */

a.block {
	contain: paint;

	&:hover {
		outline: 12px solid #ffffff20;
		outline-offset: 1px;
	}
}

.title {
	color: var(--white);
	font-family: sans-serif;
	font-weight: bold;

	&.big {
		line-height: 0.075;
		white-space: nowrap;
	
		contain: inline-size;
		margin-inline: -3.75rem;
		margin-bottom: 2rem;
		pointer-events: none;
	}
}



/* header */

#header-right {
	height: 4em;
	background-image: radial-gradient(farthest-side circle at top right, var(--yellow), transparent);
	background-color: var(--blue);
	margin-left: -5em;
	margin-bottom: 2em;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: var(--blue);
		position: absolute;
		top: 100%;
		left: 1em;
		clip-path: path("M 0 6 A 6 6 0 0 1 6 0 L 0 0 z");
	}
}



/* about */

#about {
	background: radial-gradient(circle at 15% 10%, var(--red-offset), transparent 50%) var(--red);
	box-shadow: 8px 0 16px -8px var(--red);

	.title {
		/* font-size: 1.25em; */
		font-size: 3em;
		line-height: 0.6;
		text-align: right;
		margin-bottom: -2rem;
	}
}



/* creata */

#creata {
	color: var(--white);
	contain: paint;
	background: url(_assets/mask-drip.png) repeat-x bottom, radial-gradient(circle at 25% 100%, var(--yellow-offset), transparent 50%) var(--yellow);
	box-shadow: -8px 0 16px -8px var(--yellow);

	.title {
		font-size: 8em;
		letter-spacing: -0.1em;

		span {
			font-family: magazine;
			line-height: 0;
			margin-inline: -0.12em;
		}
	}

	a {
		display: block;
		font-family: sans-serif;
		font-weight: bold;
		padding: 0.75em 1em;
		margin-block: 0.375em;

		img {
			display: inline;
			vertical-align: -0.18em;
			margin-right: 0.25em;
		}
	}

}

#cat-comic {
	background-color: var(--blue);
}

#bad-dream {
	background-color: var(--red);
}



/* tunes */

#tunes {
	height: 4em;
	padding-block: 1em;
	background:
		url(creata/tunes/_assets/cd-small.png) no-repeat -160px 50%,
		url(_assets/cloud.png) center var(--blue);
	box-shadow: 0 10px 8px -8px var(--blue);
	
	.title {
		font-size: 4em;
		letter-spacing: -0.1em;

		margin-inline: -2rem;
		margin-bottom: 1rem;
	}
}

#track {
	background-color: var(--white);
	padding: 6px;
	border-radius: 12px;

	iframe {
		width: 100%;
		height: 64px;
		border-radius: 6px;
		opacity: 0.75;
	}
}



/* map */

#map {
	color: var(--light-gray);
	text-align: center;
	/* margin-inline: auto; */

	background:
		url(_assets/map.png),
		radial-gradient(circle at center, rgb(from var(--yellow) r g b / 0.4) 25%, transparent);

	&:hover {
		text-decoration: underline;
	}
}



/* status */

#statuscafe {
	padding: 1em;
	border: 1px dotted var(--light-gray);
	flex: 1;
}

#statuscafe-username {
	color: var(--gray);
	font: 0.75em ms-serif;
}



/* lightswitch */

#lightswitch {
	align-self: start;
	cursor: pointer;
}

@keyframes appear {from {opacity: 0}}

.lights-off {

	&::before {
		content: "";
		background-color: black;
		position: fixed;
		inset: 0;
		z-index: 99;
	}

	&::after {
		content: "";
		background: url(_assets/napstablook.gif) no-repeat center;
		opacity: 0.33;
		animation: 30s appear;
	}

}



/* blog */

#blog {
	background: radial-gradient(circle at 70% 80%, var(--red-offset), transparent 50%) var(--red);
	padding: 1.5em;
	border-image: url(_assets/mask-stamp.png) 5 9 9 5 / 5px 9px 9px 5px round;

	.title {
		font-size: 3.5em;
		line-height: 0.625;
	}
}