:root {
	tab-size: 2;
	--black: #282c34;
}

body {
	color: var(--black);
	background-color: var(--white);
	max-width: 600px;
	margin-inline: auto;
}

.box {
	background-color: var(--white);
	padding: 1rem;
	border: 1px dotted var(--gray);
	border-radius: 4px;
}

.dotted {
	background-image: url(../../_assets/dots.png);
}



/* main */

.section {
	padding: 2em;
	margin: 2em;
}

h2 {
	border-bottom: inherit;
	&:not(:first-child) {margin-top: 2em}
}

hr {
	border-bottom: inherit;
	margin: 6em -2em;
}

a {text-decoration: underline}
b {font: bold 0.875em/0 sans-serif}
li {margin-block: 0.25em}



/* code */

pre {
  color: #abb2bf;
  background-color: var(--black);
  padding: 1em 2em;
	border-radius: 4px;
  overflow-x: auto;
}

.tag {color: #abb2bf}
.tag-name {color: #e06c75}
.attr {color: #d19a66}
.string {color: #98c379}



/* summoning */

#summoner {
	display: flex;
	align-items: center;
	gap: 1em;
}

#summon-settings {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	column-gap: 0.5em;
}